@import '/cssfonnts/fonts.scss';
.container{
    padding:0 36px;
    max-width: 360px;
}
:root{
    --cube:cubic-bezier(0.4, 0, 0.2, 1)
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  h1,h2,h3,h4,h5,h6, p{
    margin: 0;
  }
  .link {
    text-decoration: none;
  }
  
  /* style */
  button{
    cursor: pointer;
  }
.hero__h3{
    position: absolute;
    width: 32px;
    height: 26px;
    left: 22px;
    top: 89px;
    font-size: 14px;
    line-height: 26px;
    color: #ffffff;
    font-family: "WorkSans-Regular";
    font-weight: 400;
}
.hero{
    position: relative;
}
.hero__h1{
    position: absolute;
    width: 247px;
    height: 60px;
    left: 22px;
    top: 118px;

    font-weight: 700;
    font-family: 'Gilroy-Bold';
    font-size: 24px;
    line-height: 30px;

    color: #FFFFFF;
}
.hero__span{
    color:  #FCD54C;
}
.hero__p{
    width: 225px;
    height: 26px;
    font-family: 'WorkSans-Regular';
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #FFFFFF;
    margin-top: 60px;
}
.hero__span__buy{
    color: #929292;
}
.estate{
    margin-top: 10px;
}
.estate__h1{
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    
    font-weight: 700;
    font-family: 'Gilroy-Bold';
    width: 288px;
    height: 60px;
    color: #FFFFFF;
}
.estate__text{
    width: 288px;
    height: 378px;
    margin-top: 10px;
    margin-bottom: 50px;
    font-family: 'WorkSans-Regular';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #929292;
}
.estate__text__p{
    margin-top: 27px;
}
.methods__h1{
    width: 241px;
    height: 35px;
    margin-top: 30px;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Gilroy-Bold';
    line-height: 35px;
    color: #FFFFFF;
}
.methods__text{
    margin-top: 10px;
    font-family: 'WorkSans-Regular';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #929292;
    width: 288px;
    height: 441px;
}
.methods__text__p{
    margin-top: 25px;
}
.author{
    border: 4px solid #FCD54C;
    width: 290px;
    height: 345px;
    padding-left: 12px;
    padding-right: 25px;
    margin-top: 50px;
}
.author__quotes{
    width: 56px;
    height: 100px;
    fill: #FCD54C;
}
.author__p{
    font-weight: 600;
    font-family: 'Gilroy-Semibold';
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    width: 244px;
    height: 162px;
}
.author__elite{
    color: #929292;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
}
.author__name{
    font-weight: 600;
    font-family: 'WorkSans-SemiBold';
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}
.author__div{
    margin-top: 18px;
    margin-left: 159px;
    width: 94px;
    height: 52px;
    display: flex;
    flex-direction: column;
}
.photo{
    margin-top: 50px;
}
.photo__picture + .photo__picture{
    margin-top: 10px;
}
.recomend{
    margin-top: 50px;
}
.recomend-twenty{
    width: 75px;
    height: 70px;
}
.recomend-seven{
    width: 37px;
    height: 70px;
}
.recomend-hundred{
    width: 104px;
    height: 70px;
}
.recomend-ul-li{
    display: flex;
    font-weight: 600;
    font-family: 'Gilroy-Semibold';
}
.recomend-container{
    width: 246px;
    height: 261px;
}
.recomend-years{
    width: 76px;
    height: 42px;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    margin-left: 24px;
    padding-top: 17px;
}
.recomend-seven{
    margin-top: 20px;
    margin-bottom: 31px;
}
.recomend-talanted{
    margin-top: 32px;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    width: 85px;
    height: 42px;
    margin-left: 24px;
}
.recomend-complitly{
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    width: 96px;
    height: 38px;
    margin-left: 46px;
    margin-top: 14px;
    position: relative;
}
.recomend-complitly::after{
    content: '';
    display: block;
    width: 19px;
    height: 35px;
    position: absolute;
    top: -63%;
    left: -40px;
    background-repeat: no-repeat;
    background-image: url(/svg-service/plus.svg);
}
.challenge__p{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    width: 286px;
    height: 189px;
    font-family: 'WorkSans-Regular';
    color: #929292;
    margin-top: 20px;
}
.challenge__h1{
    width: 115px;
    height: 35px;
    font-size: 24px;
    line-height: 35px;
    font-weight: 700;
    font-family: 'Gilroy-Bold';
    color: #FFFFFF;
}
.challenge{
    margin-top: 50px;
}
.line{
    margin-top: 30px;
    width: 290px;
    height: 1.01px;
    border: 1px solid #929292;
}
.every{
    margin-top: 50px;
}
.every__h2{
    font-size: 18px;
    line-height: 26px;
    width: 213px;
    height: 26px;
    font-weight: 700;
    font-family: 'Gilroy-Bold';
    color: #FFFFFF;
}
.every__p{
    width: 286px;
    height: 210px;
    font-weight: 400;
    font-family: 'WorkSans-Regular';
    color: #929292;
    font-size: 14px;
    line-height: 21px;
    margin-top: 20px;
}
.everything{
    margin-top: 30px;
}
.everything__ul{
    color: #929292;
    font-family: 'WorkSans-Regular';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    width: 287px;
    height: 483px;
}
.include{
    padding-left: 2px;
}
.include__h3{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Gilroy-Regular';
    color: #272727;
    width: 178px;
    height: 26px;
}
.include__h3:nth-child(2){
    margin-left: 148px;
    margin-right: 39px;
}
.include__title{
    background-color: #FCD54C;
    width: 690px;
    height: 74px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    display: -webkit-inline-box;
}
.include__li:nth-child(odd){
    background-color: rgba(255, 255, 255, 0.1);
}
.include__ul{
    width: 690px;
    height: 754px;
}
.include__li{
    width: 690px;
    height: 51px;
    color: #FFF;
    font-size: 16px;
    padding-top: 14px;
    padding-left: 20px;
    font-weight: 600;
    font-family: 'WorkSans-SemiBold';
    line-height: 26px;
}
.include__true__one, .include__true__two{
    display: none;
}
.propose{
    margin-top: 50px;
}
.propose__h1{
    width: 228px;
    height: 30px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    font-family: 'Gilroy-Bold';
    color: #FFFFFF;   
    margin-bottom: 30px;
}
.propose__card{
    padding-top: 24px;
    padding-left: 22px;
    width: 290px;
    height: 216px;
    position: absolute;
    transform: translateY(110%);
    transition: transform 200ms, --cube; 
    top: 0px;
    left: 0px;  
    background-color: #FCD54C;
    border: 4px solid #FCD54C;  
}
.propose__overlay + .propose__overlay{
    margin-top: 20px;
}
.propose__card__h2{
    width: 189px;
    height: 35px;
    font-size: 18px;
    line-height: 35px;
    font-weight: 700;
    font-family: 'Gilroy-Bold';
    color: #272727;
}
.propose__card__p{
    font-weight: 400;
    font-family: 'WorkSans-Regular';
    font-size: 12px;
    line-height: 18px;
    width: 243px;
    height: 54px;
    margin-top: 28px;
    color: #272727;
}
.propose__card__learn{
    margin-top: 33px;
    margin-left: 120px;
    width: 110px;
    height: 30px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    position: relative;
    font-family: 'WorkSans-SemiBold';
}
.propose__card__learn::before{
    content: '';
    width: 11.32px;
    height: 20.02px;
    position: absolute;
    left: 110px;
    top: 2px;
    background-repeat: no-repeat;
    background-image: url(/svg-service/arrow.svg#arrow);
}
.propose__p{
    font-weight: 600;
    font-family: 'Gilroy-Semibold';
    font-size: 16px;
    line-height: 21px;
    margin-top: 30px;
    padding-left: 143px;
    color: #929292;
    position: relative;
}
.propose__p::before{
    content: '';
    width: 11.32px;
    height: 20.02px;
    position: absolute;
    left: 281px;
    top: 2px;
    fill: #929292;
    background-repeat: no-repeat;
    background-image: url(/svg-service/all.svg#all);
}
.propose__overlay{
    position: relative;
    overflow: hidden;  
}
.propose__overlay:hover .propose__card{
    transform: translateX(0);
}
@media screen and (min-width:768px) {
    .container{
        width: 768px;
        padding: 0 39px;
    }
    .hero__h3{
        font-size: 16px;
        width: 37px;
        height: 26px;
        left: 58px;
        top: 151px;
    }
    .hero__h1{
        font-size: 40px;
        line-height: 50px;
        width: 417px;
        height: 100px;
        left: 58px;
        top: 180px;
    }
    .hero__p{
        font-size: 16px;
        width: 257px;
        height: 26px;
        margin-top: 71px;
    }
    .estate{
        margin-top: 20px;
    }
    .estate__h1{
        width: 427px;
        height: 45px;
        font-size: 25px;
        line-height: 45px;
    }
    .estate__text{
        width: 690px;
        height: 168px;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .methods__h1{
        width: 251px;
        font-size: 25px;
    }
    .methods__text{
        margin-top: 13px;
        width: 690px;
        height: 189px;
    }
    .one{
        margin-left: 223px;
    }
    .two{
        margin-left: 257px;
    }
    .three{
        margin-left: 148px;
    }
    .four{
        margin-left: 309px;
    }
    .five{
        margin-left: 300px;
    }
    .six{
        margin-left: 248px;
    }
    .seven{
        margin-left: 183px;
    }
    .eight{
        margin-left: 118px;
    }
    .nine{
        margin-left: 78px;
    }
    .ten{
        margin-left: 223px;
    }
    .eleven{
        margin-left: 326px;
    }
    .twenteen{
        margin-left: 309px;
    }
    .threeteen{
        margin-left: 509px;
    }
    .fourteen{
        margin-left: 358px;
    }
    .fiveteen{
        margin-left: 426px;
    }
    .include__true__two{
        margin-left: 164px;
    }
    .include__true__one, .include__true__two{
        color: #FCD54C;
        font-size: 16px;
        display: inline;
    }
    .photo{
        display: flex;
    }
    .challenge__p{
        width: 687px;
        height: 84px;
        margin-top: 31px;
    }
    .challenge__h1{
        width: 120px;
        font-size: 25px;
    }
    .line{
        margin-top: 50px;
        width: 690px;
        height: 0.95px;
    }
    .every{
        margin-top: 40px;
    }

    .every__p{
        width: 687px;
        height: 84px;
        margin-top: 30px;
    }
    .everything{
        margin-top: 50px;
    }
    .everything__ul{
        width: 685px;
        height: 210px;
    }
    .author{
        width: 690px;
        height: 259px;
        padding-left: 32px;
        padding-right: 61px;
    }
    .author__p{
        width: 509px;
        display: inline-block;
        height: 105px;
        font-size: 20px;
        margin-left: 19px;
        line-height: 35px;
        margin-top: 38px;
    }
    .author__div{
        margin-top: 28px;
        margin-left: 85px;
        width: 129px;
        height: 52px;
    }
    .photo__ul{
        position: relative;
    }
    .photo__li:nth-child(2){
        margin-top: 30px;
    }
    .photo__li:nth-child(3){
        position: absolute;
        left: 369px;
        top: 0;
    }
    .propose__ul{
        display: inline-flex;
        gap: 19px;
    }
    .propose__h1{
        width: 238px;
        height: 45px;
        font-size: 25px;
        line-height: 45px;
    }
    .propose__card{
        padding-left: 14px;
        padding-right: 13px;
        width: 216px;
        height: 216px;
        position: absolute;
        transform: translateY(110%);
        transition: transform 200ms, --cube; 
        top: 0px;
        left: 0px;  
        background-color: #FCD54C;
        border: 4px solid #FCD54C;  
    }
    .propose__card__p{
        width: 189px;
        height: 72px;
        margin-top: 7.5px;
    }
    .propose__card__learn{
        margin-left: 0;
    }
    .propose__p{
        transform: translate(400px,-310px);
    }
    .recomend-container{
        width: 687px;
        height: 81px;
    }
    .recomend-ul{
        display: flex;
        width: 687px;
        justify-content: center;
        align-items: flex-end;
        gap: 60px;
    }
    .recomend-ul-li:nth-child(2){
        transform: translateY(32px);
        }    
    }