@import '/cssfonnts/fonts.scss';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

%textWorkSansText {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;

    color: #E8E8E8;
}

%textWorkSansTit {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #E8E8E8;
}

.footer {
    height: 656px;
    background-color: #272727;
    padding-top: 70px;

    &__wrapper {
        margin: 0 auto;
        min-width: 1920px;
    }

    &__nav {
        justify-content: center;
        display: flex;
        gap: 184px;
        margin-top: 80px;
        height: 287px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    &__lastEl {
        width: 1920px;
        height: 90px;
        margin: 0 auto;

        display: flex;
        background-color: #272727;
    }

    .title {
        width: 184px;
        height: 70px;
        margin: 0 auto;
    }


    .nav {

        .tit-li {
            @extend %textWorkSansTit;
            margin-bottom: 20px;
        }

        .text-li {
            @extend %textWorkSansText;
            margin-top: 20px;
        }

        .btn-consult {
            background: #FCD54C;
            width: 165px;
            height: 41px;
            margin-top: 91px;
        }
    }

    .lastEl {
        &__wrapper {
            margin: 0 auto;
            display: flex;
            align-items: center;
            padding: 0 50px;
        }

        &__text {
            @extend %textWorkSansText;

        }

        .network {
            margin-left: 1320px;
            display: flex;
            gap: 29px;
        }
    }
}


@media (max-width:360px) {
    .footer {

        height: 751px;

        &__wrapper {
            margin: 0 auto;
            max-width: 360px;
            // background-color: #FCD54C;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .title {
            margin: 40px 138px 40px 0;
        }

        .icon {
            width: 184px;
            height: 63px;
        }


        .nav {

            margin: 0 auto;

            &__block {
                display: none;
            }

            .arrow {
                position: absolute;
                right: 0;
            }

            &__elem {
                width: 284px;
            }

            .tit-li {
                width: 100%;
                position: relative;
                display: flex;
                align-items: center;

                border-bottom: 1px solid #000000;
                padding: 15px 0;
            }

            .text-li {

                margin-top: 13px;
            }

            &__elem:hover {
                .nav__block {
                    display: block;
                }
            }
        }

        .btn-consult {
            margin: 0 auto;
            background-color: #FCD54C;
            width: 284px;
            height: 67px;
            margin-top: 91px;
        }

        .lastEl {
            &__wrapper {
                position: relative;
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 360px;
                height: 90px;
                flex-direction: column-reverse;
            }

            .network {
                margin-bottom: 14px;
                display: flex;
                gap: 29px;
            }
        }
    }
}