<ul class="footer__nav nav">
    <li class="nav__elem buy">
        <p class="tit-li">Buy<img class="arrow" src="/src/svg-footer/arrow.svg" alt=""> </p>

        <div class="nav__block">
            <p class="text-li">Apartment in Dubai</p>
            <p class="text-li">House in Dubai</p>
            <p class="text-li">Apartments in Dubai</p>
            <p class="text-li">Loft in Dubai</p>
            <p class="text-li">Penthouse in Dubai</p>
            <p class="text-li">Villa in Dubai</p>
        </div>
    </li>
    <li class="nav__elem service">
        <p class="tit-li">Service <img class="arrow" src="/src/svg-footer/arrow.svg" alt=""></p>
        <div class="nav__block">
            <p class="text-li">Property management in Dubai, UAE</p>
            <p class="text-li">Sell ​property in Dubai, UAE</p>
            <p class="text-li">Rent property in Dubai, UAE</p>
            <p class="text-li">Investments in Dubai, UAE</p>
            <p class="text-li">Real estate for cryptocurrency in Dubai</p>
            <p class="text-li">Moving to Dubai, UAE</p>
        </div>
    </li>
    <li class="nav__elem Information">
        <p class="tit-li">Information <img class="arrow" src="/src/svg-footer/arrow.svg" alt=""></p>
        <div class="nav__block">
            <p class="text-li">Video</p>
            <p class="text-li">Podcasts</p>
            <p class="text-li">Laws</p>
            <p class="text-li">Questions and answers</p>
            <p class="text-li">Books</p>
            <p class="text-li">Articles</p>
        </div>

    </li>
    <li class="nav__elem about">
        <p class="tit-li">About Company <img class="arrow" src="/src/svg-footer/arrow.svg" alt=""></p>
        <div class="nav__block">

            <p class="text-li">Jobs</p>
            <p class="text-li">Story</p>
            <p class="text-li">Licenses</p>
            <p class="text-li">Why are we</p>
            <p class="text-li">Real estate agency</p>
        </div>
    </li>
    <li class="nav__elem  contact">
        <p class="tit-li">Contact <img class="arrow" src="/src/svg-footer/arrow.svg" alt=""></p>
        <div class="nav__block">
            <p class="text-li">964 Worthington Drive <br>
                Dubai, UAE</p>
            <p class="text-li">dubairealty@mail.com</p>
        </div>
        <button class="btn-consult">Book a consultation</button>
    </li>
</ul>