<div class="footer__lastEl lastEl">
    <div class="lastEl__network">
        <p class="icon"><img src="/Svg-contact/facebook.svg" alt=""></p>
        <p class="icon"><img src="/Svg-contact/twitter.svg" alt=""></p>
        <p class="icon"><img src="/Svg-contact/youtube.svg" alt=""></p>
        <p class="icon"><img src="/Svg-contact/instagram.svg" alt=""></p>
        <p class="icon"><img src="/Svg-contact/lingedin.svg" alt=""></p>
    </div>
    <p class="lastEl__text">Copyright © 2022 Dubai Realty</p>
</div>