<ul class="footer__nav nav">
    <li class="nav__buy">
        <p class="tit-li">Buy</p>
        <p class="text-li">Apartment in Dubai</p>
        <p class="text-li">House in Dubai</p>
        <p class="text-li">Apartments in Dubai</p>
        <p class="text-li">Loft in Dubai</p>
        <p class="text-li">Penthouse in Dubai</p>
        <p class="text-li">Villa in Dubai</p>
    </li>
    <li class="nav__service">
        <p class="tit-li">Service</p>
        <p class="text-li">Property management in Dubai, UAE</p>
        <p class="text-li">Sell ​property in Dubai, UAE</p>
        <p class="text-li">Rent property in Dubai, UAE</p>
        <p class="text-li">Investments in Dubai, UAE</p>
        <p class="text-li">Real estate for cryptocurrency in Dubai</p>
        <p class="text-li">Moving to Dubai, UAE</p>
    </li>
    <li class="nav__information">
        <p class="tit-li">Information</p>
        <p class="text-li">Video</p>
        <p class="text-li">Podcasts</p>
        <p class="text-li">Laws</p>
        <p class="text-li">Questions and answers</p>
        <p class="text-li">Books</p>
        <p class="text-li">Articles</p>
    </li>
    <li class="nav__about">
        <p class="tit-li">About Company</p>
        <p class="text-li">Jobs</p>
        <p class="text-li">Story</p>
        <p class="text-li">Licenses</p>
        <p class="text-li">Why are we</p>
        <p class="text-li">Real estate agency</p>
    </li>
    <li class="nav__contact">
        <p class="tit-li">Contact</p>
        <p class="text-li">964 Worthington Drive <br>
            Dubai, UAE</p>
        <p class="text-li">dubairealty@mail.com</p>
        <button class="btn-consult">Book a consultation</button>
    </li>
</ul>