<div class="footer__lastEl lastEl">
    <div class="lastEl__wrapper">
        <p class="lastEl__text">Copyright © 2022 Dubai Realty</p>
        <div class="network">
            <p class="network__icon"><img src="/src/svg-footer/facebook.svg" alt=""></p>
            <p class="network__icon"><img src="/src/svg-footer/twitter.svg" alt=""></p>
            <p class="network__icon"><img src="/src/svg-footer/youtube.svg" alt=""></p>
            <p class="network__icon"><img src="/src/svg-footer/instagram.svg" alt=""></p>
            <p class="network__icon"><img src="/src/svg-footer/lingedin.svg" alt=""></p>
        </div>
    </div>

</div>