<nav class="footer__menu menu">
    <ul class="menu__category">
        <li class="menu__option">Buy <span class="menu__mark-before mark"></span></li>
        <li class="menu__option">Services <span class="menu__mark-before mark"></span></li>
        <li class="menu__option"> Information <span class="menu__mark-before mark"></span></li>
        <li class="menu__option">About company <span class="menu__mark-before mark"></span></li>
        <li class="menu__option">Contact <span class="menu__mark"></span></li>
    </ul>
</nav>