<nav class="footer__menu menu">
    <ul class="menu__category">
        <li class="menu__option">Buy <img class="arrow" src="/Svg-contact/arrow.svg" alt=""></li>
        <li class="menu__option">Services <img class="arrow" src="/Svg-contact/arrow.svg" alt=""></li>
        <li class="menu__option"> Information <img class="arrow" src="/Svg-contact/arrow.svg" alt=""></li>
        <li class="menu__option">About company <img class="arrow" src="/Svg-contact/arrow.svg" alt=""></li>
        <li class="menu__option">Contact <p class="context">964 Worthington Drive Dubai, UAE</p><img class="arrow"
                src="/Svg-contact/arrow.svg" alt="">
        </li>
    </ul>
</nav>