<div class="container">
    <include src="./partials/blog/blog-div.html"></include>
    <ul class="container__ul">
        <li class="container__ul-li"><include src="./partials/blog/blog-picture-div-most.html"></include></li>
        <li class="container__ul-li"><include src="./partials/blog/blog-picture-div-auto.html"></include></li>
        <li class="container__ul-li3"><include src="./partials/blog/blog-picture-div-smooke.html"></include></li>
        <li class="container__ul-li"><include src="./partials/blog/blog-picture-div-highbuild.html"></include></li>
        <li class="container__ul-li-6"><include src="./partials/blog/blog-picture-div-cities.html"></include></li>
        <li class="container__ul-li3"><include src="./partials/blog/blog-picture-div-cities.html"></include></li>
        <li class="container__ul-li3"><include src="./partials/blog/blog-picture-div-table.html"></include></li>
        <li class="container__ul-li3"><include src="./partials/blog/blog-picture-div-view.html"></include></li>
        <li class="container__ul-li"><include src="./partials/blog/blog-picture-div-buildone.html"></include></li>
        <li class="container__ul-li"><include src="./partials/blog/blog-picture-div-buildtwo.html"></include></li>
        <li class="container__ul-li3"><include src="./partials/blog/blog-picture-div-dom.html"></include></li>
        <li class="container__ul-li3"><include src="./partials/blog/blog-picture-div-seaview.html"></include></li>
        <li class="container__ul-li3"><include src="./partials/blog/blog-picture-div-bigcity.html"></include></li>
    </ul>
    <include src="./partials/blog/blog-container__swiper.html"></include>
    </div>
</div>