<div class="container__swiper">
    <ul class="container__swiper-ul">
        <svg class="container__swiper-svg2"><use class="button-svg__use" href="/Svg-blog/Arrow3.svg#arrow3"></use></svg>
        <li class="container__swiper-ul__li"><button class="container__swiper-ul__li-btn">1</button></li>
        <li class="container__swiper-ul__li"><button class="container__swiper-ul__li-btn">2</button></li>
        <li class="container__swiper-ul__li"><button class="container__swiper-ul__li-btn">3</button></li>
        <li class="container__swiper-ul__li"><button class="container__swiper-ul__li-btn">...</button></li>
        <li class="container__swiper-ul__li"><button class="container__swiper-ul__li-btn">94</button></li>
        <li class="container__swiper-ul__li"><button class="container__swiper-ul__li-btn">95</button></li>
        <li class="container__swiper-ul__li"><button class="container__swiper-ul__li-btn">96</button></li>
        <svg class="container__swiper-svg"><use class="button-svg__use" href="/Svg-blog/Arrow2.svg#arrow2"></use></svg>
    </ul>
</div>