<div class="container__swiper">
    <ul class="container__swiper-ul">
        <li class="container__swiper-ul__li"><button class="container__swiper-ul__li-btn">1</button></li>
        <li class="container__swiper-ul__li"><button class="container__swiper-ul__li-btn">2</button></li>
        <li class="container__swiper-ul__li"><button class="container__swiper-ul__li-btn">3</button></li>
        <li class="container__swiper-ul__li"><button class="container__swiper-ul__li-btn">...</button></li>
        <li class="container__swiper-ul__li"><button class="container__swiper-ul__li-btn">94</button></li>
        <li class="container__swiper-ul__li"><button class="container__swiper-ul__li-btn">95</button></li>
        <li class="container__swiper-ul__li"><button class="container__swiper-ul__li-btn">96</button></li>
    </ul>
</div>