<div class="picture-div">
    <div class="picture-div__icon">
      <picture width="350px" height="329px">
        <source
          srcset="../photo/blog/1920/dom-jpg-1x.jpg, ../photo/blog/1920/dom-jpg-2x.jpg"
          media="(min-width:1920px)"
        />
        <source
          srcset="../photo/blog/1920/dom-wbp-1x.webp, ../photo/blog/1920/dom-wbp-2x.webp"
          type="image/webp"
          media="(min-width:1920px)"
        />
        <img class="picture-div__img3" src="/photo/blog/1920/dom-jpg-1x.jpg" alt="">
      </picture>
    </div>
    <div class="picture-div__text">
      <h2 class="picture-div__title">Commercial property in Abu Dhabi</h2>
      <p class="picture-div__p">
        In Dubai, the final statistics of all transactions related to real estate
        for the first quarter has been confirmed
      </p>
      <button class="picture-div__button"><p>Learn more</p>
        <svg class="picture-div__button-svg"><use class="button-svg__use" href="/Svg-blog/Arrow.svg#arrow"></use></svg>
      </button>
    </div>
  </div>