.title{
    max-width: 63px;
    max-height: 37px;
    &__h1{
    display: inline-block;
    width: 63px;
    height: 37px;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 10px;}
}