.main-blog{
    height: 80px;
    display: flex;
    margin-bottom: 27px;
    &__div{
        margin: auto 0;
        width: 510px;
        height: 47px;
        position: relative;
    }
    &__div-input{
        display: block;
        width: 510px;
        height: 47px;
        padding: 10px 0 11px 19px;
        background-color: #272727;
        border: 1px solid #929292;
        color: #929292;
    }
    &__div-svg{
        width: 25px;
        height: 25px;
        position: absolute;
        fill: #ffffff;
        left: 460px;
        top: 10px;
    }
}