.picture-div{
    box-sizing: border-box;
    width: 322px;
    margin: 0;
    &__icon{
    width: 322px;
    height: 329px;
    color: #FFFFFF;
}
    &__text{
    width: 322px;
    height: 248px;
    border: 1px solid #FCD54C;
    padding: 20px 22px 20px 20px;
}
    &__title{
    margin: 0;
    display: inline-block;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
    width: 290px;
    height: 70px;
}
    &__p{
    margin: 23px 0 13px 0;
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #929292;
    width: 279px;
    height: 78px;
}
    &__button{
    background-color: #272727;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    width: 91px;
    height: 24px;
    padding: 0;
    border: 0;
}
    &__img2{
        display: block;
        width: 322px;
        height: 329px;
    }
}