
@import '/cssfonnts/fonts.scss';
@import './blog-title';
@import './blog-picture-div';

html{
    box-sizing: border-box;
  }
  
  html *, ::after, ::before{
    box-sizing: inherit;
  }

p,h1,h2,h3,h4,h5,h6{
    margin: 0;
}

button{
    cursor: pointer;
}

image{
    display: block;
}

body{
    background: #272727;
}

.container{
    padding:0 36px;
    max-width: 360px;
}


picture{
    width: 288px;
    height: 329px;
}

@import './_blog-title';
@import './_blog-picture-div';

@media screen and (min-width:768px){
    .container{
        padding:0 39px 0 37px;
        max-width: 768px;
    }
    @import './blog-title-adaptive-768';
}


