.container__ul{
    display: flex;
    max-width: 288px;
    margin: 0 auto;
    margin-top: 30px;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.container__ul-li{
    height: 577px;
    width: 288px;
    position: relative;
    display: block;
}