.title{
    max-width: 125px;
    max-height: 80px;
    margin-right: 860px;
    &__h1{
    display: block;
    width: 125px;
    height: 80px;
    font-weight: 700;
    font-size: 60px;
    line-height: 133%;
    color: #FFFFFF;
    margin: 0;
}
}