.title{
    max-width: 104px;
    max-height: 80px;
    &__h1{
    display: block;
    width: 104px;
    height: 80px;
    font-weight: 700;
    font-size: 50px;
    line-height: 160%;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 27px;
}
}