
@import '/cssfonnts/fonts.scss';
@import './blog-title';
@import './blog-picture-div';

.container{
    width: 360px;   
}

html{
    box-sizing: border-box;
  }
  
  html *, ::after, ::before{
    box-sizing: inherit;
  }

p,h1,h2,h3,h4,h5,h6{
    margin: 0;
}

button{
    cursor: pointer;
}

img{
    display: block;
}

body{
    background: #272727;
}


.picture-div__button{
    display: flex;
    width: 120px;
}


.picture-div__img2, .picture-div__img3{
    display: none;
}

.container__ul-li3{
    display: none;
}

.main-blog__div-input{
    display: none;
}

.main-blog__div-svg{
    display: none;
}

@import './_blog-title';
@import './_blog-picture-div';
@import './_blog-container-ul-360';
@import './_blog-container__swiper-360';

@media screen and (min-width:768px){
    .picture-div__img, .picture-div__img3{
        display: none;
    }

    .container__ul-li-6{
        display: block;
    }

    .container{
        width: 768px;
    }
    @import './_blog-main-blog';
    @import './_blog-title-adaptive-768';
    @import './_blog-container-ul-768';
    @import './_blog-picture-div-adaptive-768';
    @import './_blog-container__swiper-768';
}

@media screen and (min-width: 1920px){
    .picture-div__img, .picture-div__img2{
        display: none;
    }

    .container{
        width: 1920px;
        padding: 0 63px;
    }

    .container__ul-li3{
        display: block;
    }
    @import './blog-container__swiper-1920';
    @import './_blog-title-adaptive-1920';
    @import './_blog-main-blog-1920';
    @import './_blog-container-ul-1920';
    @import './_blog-picture-div-adaptive-1920';
}
