<div class="container">
    <include src="./partials/blog-div.html"></include>
    <ul class="container__ul">
        <li class="container__ul-li"><include src="./partials/blog-picture-div-most.html"></include></li>
        <li class="container__ul-li"><include src="./partials/blog-picture-div-auto.html"></include></li>
        <li class="container__ul-li"><include src="./partials/blog-picture-div-highbuild.html"></include></li>
        <li class="container__ul-li"><include src="./partials/blog-picture-div-buildone.html"></include></li>
        <li class="container__ul-li"><include src="./partials/blog-picture-div-buildtwo.html"></include></li>
        <li class="container__ul-li"><include src="./partials/blog-picture-div-cities.html"></include></li>
    </ul>
    </div>
</div>