<div class="picture-div">
    <div class="picture-div__icon">
      <picture width="288px" height="324px">
        <source
          srcset="../photo/blog/320/highbuild-jpg-1x.jpg, ../photo/blog/320/highbuild-jpg-2x.jpg"
          media="(max-width:360px)"
        />
        <source
          srcset="../photo/blog/320/highbuild-wbp-1x.webp, ../photo/blog/320/highbuild-wbp-2x.webp"
          type="image/webp"
          media="(max-width:360px)"
        />
        <img class="picture-div__img" src="/photo/blog/320/highbuild-jpg-1x.jpg" alt="">
      </picture>
      <picture width="322px" height="324px">
        <source
          srcset="../photo/blog/760/highbuild-jpg-1x.jpg, ../photo/blog/760/highbuild-jpg-2x.jpg"
          media="(min-width:760px)"
        />
        <source
          srcset="../photo/blog/760/highbuild-wbp-1x.webp, ../photo/blog/760/highbuild-wbp-2x.webp"
          type="image/webp"
          media="(min-width:760px)"
        />
        <img class="picture-div__img2" src="/photo/blog/760/highbuild-jpg-1x.jpg" alt="">
      </picture>
      <picture width="350px" height="329px">
        <source
          srcset="../photo/blog/1920/highbuild-jpg-1x.jpg, ../photo/blog/1920/highbuild-jpg-2x.jpg"
          media="(min-width:1920px)"
        />
        <source
          srcset="../photo/blog/1920/highbuild-wbp-1x.webp, ../photo/blog/1920/highbuild-wbp-2x.webp"
          type="image/webp"
          media="(min-width:1920px)"
        />
        <img class="picture-div__img3" src="/photo/blog/1920/highbuild-jpg-1x.jpg" alt="">
      </picture>
    </div>
    </div>
    <div class="picture-div__text">
      <h2 class="picture-div__title">Commercial property in Abu Dhabi</h2>
      <p class="picture-div__p">
        In Dubai, the final statistics of all transactions related to real estate
        for the first quarter has been confirmed
      </p>
      <button class="picture-div__button">Learn more</button>
    </div>
  </div>