<nav class="header">
    <div class="header__logo">
        <div class="frame"></div>
        <p class="title">DubaiRealty</p>
        <p class="subtitle">Real Estate</p>
    </div>
    <ul class="header__pages">
        <li class="page">Buy <embed src="/svg-menu/Rectangle 889.svg" type=""><ul class="buy">
            <li class="buy__page">Category number one </li>
            <li class="buy__page">Apartments in Dubai</li>
            <li class="buy__page">Category number twenty five</li>
        </ul> </li>
        <li class="page"><a class="page__link" href="/src/blog.html">Blog</a> </li>
        <li class="page"><a class="page__link" href="/src/main.html">About</a> </li>
        <li class="page"><a class="page__link" href="/src/contact.html">Contact</a></li>
    </ul>
    <button class="btn">Book a consultation</button>
    <div class="lang">
        <p class="symbol">EN</p>
        <p class="symbol">UA</p>
    </div>
    <p class="number">+38 (096) 674-25-10</p>
</nav>