<div class="container">
  <section class="hero">
    <div class="hero__container">
      <picture width="290px" height="191px">
          <source
            srcset="../photo/service/320/televison-jpg-1x.jpg 1x, ../photo/service/320/televison-jpg-2x.jpg 2x"
    media="(min-width:360px) and (max-width:768px)"
          />
          <source
            srcset="../photo/service/320/televison-wbp-1x.webp 1x, ../photo/service/320/televison-wbp-2x.webp 2x"
            type="image/webp"
            media="(min-width:360px) and (max-width:768px)"
          />
          <source
          srcset="../photo/service/760/televison-jpg-1x.jpg 1x, ../photo/service/760/televison-jpg-2x.jpg 2x"
          media="(min-width:768px) and (max-width:1920px)"
        />
        <source
          srcset="../photo/service/760/televison-wbp-1x.webp 1x, ../photo/service/760/televison-wbp-2x.webp 2x"
          type="image/webp"
          media="(min-width:768px) and (max-width:1920px)"
        />
        <source
        srcset="../photo/service/1920/televison-jpg-1x.jpg 1x, ../photo/service/1920/televison-jpg-2x.jpg 2x"
        media="(min-width:1920px)"
      />
      <source
        srcset="../photo/service/1920/televison-wbp-1x.webp 1x, ../photo/service/1920/televison-wbp-2x.webp 2x"
        type="image/webp"
        media="(min-width:1920px)"
      />
          <img src="/photo/service/320/televison-jpg-1x.jpg" alt="">
        </picture>
        <h3 class="hero__h3">Rent</h3>
        <h1 class="hero__h1">Furnished Apartments <span class="hero__span">in Dubai</span></h1>
        <p class="hero__p">Service <span class="hero__span__buy">Buying property in Dubai</span></p>
      </div>
      </section>
  <section class="estate">
    <div class="text__container">
      <h1 class="estate__h1">Real estate investment in Dubai, UAE</h1>
      <div class="estate__text">
      <p>This response is important for our ability to learn from mistakes, but it alsogives rise to self-criticism, because it is part of the threat-protection system. In other words, what keeps us safe can go too far, and keep us too safe. In fact it can trigger self-censoring.</p>
      <p class="estate__text__p">One touch of a red-hot stove is usually all we need to avoid that kind of discomfort in the future. The same is true as we experience the emotional sensation of stress from our first instances of social rejection or ridicule. We quickly learn to fear and thus automatically avoid potentially stressful situations of all kinds, including the most common of all:</p>
      </div>
      <div class="estate__text__two estate__text">
        <p>This response is important for our ability to learn from mistakes, but it alsogives rise to self-criticism, because it is part of the threat-protection system. In other words, what keeps us safe can go too far, and keep us too safe. In fact it can trigger self-censoring.</p>
        <p class="estate__text__p">One touch of a red-hot stove is usually all we need to avoid that kind of discomfort in the future. The same is true as we experience the emotional sensation of stress from our first instances of social rejection or ridicule. We quickly learn to fear and thus automatically avoid potentially stressful situations of all kinds, including the most common of all:</p>
        </div>
      </div>
      <div class="dubai__container">
      <picture >
          <source
            srcset="../photo/service/320/dubai-jpg-1x.jpg 1x, ../photo/service/320/dubai-jpg-2x.jpg 2x"
            media="(min-width:360px) and (max-width:768px)"
          />
          <source
            srcset="../photo/service/320/dubai-wbp-1x.webp 1x, ../photo/service/320/dubai-wbp-1x.webp 2x"
            type="image/webp"
            media="(min-width:360px) and (max-width:768px)"
          />
          <source
          srcset="../photo/service/760/dubai-jpg-1x.jpg 1x, ../photo/service/760/dubai-jpg-2x.jpg 2x"
          media="(min-width:768px) and (max-width:1920px)"
        />
        <source
          srcset="../photo/service/760/dubai-wbp-1x.webp 1x, ../photo/service/760/dubai-wbp-1x.webp 2x"
          type="image/webp"
          media="(min-width:768px) and (max-width:1920px)"
        />
        <source
        srcset="../photo/service/1920/dubai-jpg-1x.jpg 1x, ../photo/service/1920/dubai-jpg-2x.jpg 2x"
        media="(min-width:1920px)"
      />
      <source
        srcset="../photo/service/1920/dubai-wbp-1x.webp 1x, ../photo/service/1920/dubai-wbp-1x.webp 2x"
        type="image/webp"
        media="(min-width:1920px)"
      />
          <img src="/photo/service/320/dubai-jpg-1x.jpg" alt="">
        </picture>
      </div>
  </section>
  <section class="methods">
    <div class="text__container">
      <h1 class="methods__h1">Methods for Everyone</h1>
      <div class="methods__text">
          <p>Everything along the way, to and from, fascinated her: every pebble, ant, stick, leaf, blade of grass, and crack in the sidewalk was something to be picked up, looked at, tasted, smelled, and shaken. Everything was interesting to her. She knew nothing. I knew everything…been there, done that. She was in the moment, I was in the past. She was mindful. I was mindless.</p>
          <p class="methods__text__p">One touch of a red-hot stove is usually all we need to avoid that kind of discomfort in the future. The same is true as we experience the emotional sensation of stress from our first instances of social rejection or ridicule. We quickly learn to fear and thus automatically avoid potentially stressful situations of all kinds, including the most common of all: making mistakes.</p>
          </div>
        </div>
  </section>
  <div class="text__container">
  <div class="author">
      <svg class="author__quotes"><use href="/svg-service/quotes.svg#quotes"></use></svg>
      <p class="author__p">Our greatest weakness lies in giving up. The most certain way to succeed is always to try just one more time. emotional sensation of stress from our firs</p>
      <div class="author__div">
      <p class="author__name">Paul</p>
      <span class="author__elite">Elite Author</span>
      </div>
  </div>
  </div>
  
  <section class="photo">
    <div class="photo__container">
    <ul class="photo__ul">
      <li class="photo__li">
    <div class="photo__picture">
    <picture width="290px" height="165px" >
      <source
        srcset="../photo/service/320/nightcity-jpg-1x.jpg 1x, ../photo/service/320/nightcity-jpg-2x.jpg 2x"
        media="(min-width:360px) and (max-width:768px)"
      />
      <source
        srcset="../photo/service/320/nightcity-wbp-1x.webp 1x, ../photo/service/320/nightcity-wbp-2x.webp 2x"
        type="image/webp"
        media="(min-width:360px) and (max-width:768px)"
      />
      <source
      srcset="../photo/service/760/nightcity-jpg-1x.jpg 1x, ../photo/service/760/nightcity-jpg-2x.jpg 2x"
      media="(min-width:768px) and (max-width:1920px)"
    />
    <source
      srcset="../photo/service/760/nightcity-wbp-1x.webp 1x, ../photo/service/760/nightcity-wbp-2x.webp 2x"
      type="image/webp"
      media="(min-width:768px) and (max-width:1920px)"
    />
    <source
    srcset="../photo/service/1920/nightcity-jpg-1x.jpg 1x, ../photo/service/1920/nightcity-jpg-2x.jpg 2x" 
    media="(min-width:1920px)"
  />
  <source
    srcset="../photo/service/1920/nightcity-wbp-1x.webp 1x, ../photo/service/1920/nightcity-wbp-2x.webp 2x"
    type="image/webp"
    media="(min-width:1920px)"
  />
      <img src="/photo/service/320/nightcity-jpg-1x.jpg"  alt="t">
    </picture>
    </div>
  </li>
  <li class="photo__li">
    <div class="photo__picture">
    <picture width="290px" height="165px">
      <source
        srcset="../photo/service/320/sun-jpg-1x.jpg 1x, ../photo/service/320/sun-jpg-2x.jpg 2x"
        media="(min-width:360px) and (max-width:768px)"
      />
      <source
        srcset="../photo/service/320/sun-wbp-1x.webp 1x, ../photo/service/320/sun-wbp-2x.webp 2x"
        type="image/webp"
        media="(min-width:360px) and (max-width:768px)"
      />
      <source
      srcset="../photo/service/760/sun-jpg-1x.jpg 1x, ../photo/service/760/sun-jpg-2x.jpg 2x"
      media="(min-width:768px) and (max-width:1920px)"
    />
    <source
      srcset="../photo/service/760/sun-wbp-1x.webp 1x, ../photo/service/760/sun-wbp-2x.webp 2x"
      type="image/webp"
      media="(min-width:768px) and (max-width:1920px)"
    />
    <source
    srcset="../photo/service/1920/sun-jpg-1x.jpg 1x, ../photo/service/1920/sun-jpg-2x.jpg 2x"
    media="(min-width:1920px)"
  />
  <source
    srcset="../photo/service/1920/sun-wbp-1x.webp 1x, ../photo/service/1920/sun-wbp-2x.webp 2x"
    type="image/webp"
    media="(min-width:1920px)"
  />
      <img src="/photo/service/320/sun-jpg-1x.jpg"  alt="t">
    </picture>
    </div>
  </li>
  <li class="photo__li">
    <div class="photo__picture">
    <picture width="290px" height="300px" >
      <source
        srcset="../photo/service/320/beach-jpg-1x.jpg 1x, ../photo/service/320/beach-jpg-2x.jpg 1x"
        media="(min-width:360px) and (max-width:768px)"
      />
      <source
        srcset="../photo/service/320/beach-wbp-1x.webp 1x, ../photo/service/320/beach-wbp-2x.webp 2x"
        type="image/webp"
        media="(min-width:360px) and (max-width:768px)"
      />
      <source
      srcset="../photo/service/760/beach-jpg-1x.jpg 1x, ../photo/service/760/beach-jpg-2x.jpg 2x"
      media="(min-width:768px) and (max-width:1920px)"
    />
    <source
      srcset="../photo/service/760/beach-wbp-1x.webp 1x, ../photo/service/760/beach-wbp-2x.webp 2x"
      type="image/webp"
      media="(min-width:768px) and (max-width:1920px)"
    />
    <source
    srcset="../photo/service/1920/beach-jpg-1x.jpg 1x, ../photo/service/1920/beach-jpg-2x.jpg 2x"
    media="(min-width:1920px)"
  />
  <source
    srcset="../photo/service/1920/beach-wbp-1x.webp 1x, ../photo/service/1920/beach-wbp-2x.webp 2x"
    type="image/webp"
    media="(min-width:1920px)"
  />
      <img src="/photo/service/320/beach-jpg-1x.jpg"  alt="t">
    </picture>
  </div>
  </li>
  </ul>
  </div>
  </section>
  <section class="recomend">
    <div class="recomend-container">
    <ul class="recomend-ul">
    <li class="recomend-ul-li">
    <svg class="recomend-twenty"><use href="/svg-service/twenty.svg#twenty"></use></svg>
    <p class="recomend-years">YEARS 
      WORKING</p>
    </li>
    <li class="recomend-ul-li">
    <svg class="recomend-seven"><use href="/svg-service/seven.svg#seven"></use></svg>
    <p class="recomend-talanted">TALANTED
      MANAGERS</p>
    </li>
      <li class="recomend-ul-li">
    <svg class="recomend-hundred"><use  href="/svg-service/hundred.svg#hundred"></use></svg>
    <p class="recomend-complitly">COMPLITLY
      PROJECTS</p>
    </li>
    </ul>
  </div>
  </section>
  <section class="challenge">
    <div class="text__container">
    <h1 class="challenge__h1">Challenge</h1>
    <p class="challenge__p">To and from, fascinated her: every pebble, ant, stick, leaf, blade of grass, and crack in the sidewalk was something to be picked up, looked at, tasted, smelled, and shaken. Everything was interesting to her. She knew nothing. I knew everything…been there, done that. She was in the moment, I was in the past. She was mindful. I was mindless.</p>
    <div class="every">
    <h2 class="every__h2">Everything along the way</h2>
    <p class="every__p">One touch of a red-hot stove is usually all we need to avoid that kind of discomfort in the future. The same is true as we experience the emotional sensation of stress from our first instances of social rejection or ridicule. We quickly learn to fear and thus automatically avoid potentially stressful situations of all kinds, including the most common of all: making mistakes.</p>
    </div>
  </div>
  <div class="line__conatiner">
    <div class="line"></div>
  </div>
    <div class="everything">
      <div class="everything__container">
      <ul class="everything__ul">
        <li class="everything__li">Everything along the way, to and from, fascinated her: every pebble, ant, stick, leaf, blade of grass, and crack in the sidewalk was something to be picked up, looked at, tasted, smelled, and shaken</li>
        <li class="everything__li">Everything was interesting to her. She knew nothing. I knew everything…been there, done that. She was in the moment, I was in the past. She was mindful. I was mindless.</li>
        <li class="everything__li">One touch of a red-hot stove is usually all we need to avoid that kind of discomfort in the future. The same is true as we experience the emotional sensation of stress from our first instances of social rejection or ridicule.</li>
        <li class="everything__li">We quickly learn to fear and thus automatically avoid potentially stressful situations of all kinds, including the most common of all: making mistakes.</li>
      </ul>
    </div>
    </div>
  </section>
  <section class="include">
    <div class="include__container">
    <div class="include__title">
    <h3 class="include__h3">Included in the package</h3>
    <h3 class="include__h3">Complete management</h3>
    <h3 class="include__h3">Partial control</h3>
  </div>
    <ul class="include__ul">
      <li class="include__li">Real estate advertising <span class="include__true__one one">✓</span> <span class="include__true__two">✓</span></li>
      <li class="include__li">Search for tenants <span class="include__true__one two">✓</span><span class="include__true__two">✓</span></li>
      <li class="include__li">Conclusion of a lease agreement <span class="include__true__one three">✓</span><span class="include__true__two">✓</span></li>
      <li class="include__li">Getting paid <span class="include__true__one four">✓</span><span class="include__true__two">✓</span></li>
      <li class="include__li">Key handover <span class="include__true__one five">✓</span><span class="include__true__two">✓</span></li>
      <li class="include__li">Payment processing <span class="include__true__one six">✓</span><span class="include__true__two">✓</span></li>
      <li class="include__li">Dealing with repair requests <span class="include__true__one seven">✓</span><span class="include__true__two">✓</span></li>
      <li class="include__li">DEWA connection (electricity/water) <span class="include__true__one eight">✓</span><span class="include__true__two">✓</span></li>
      <li class="include__li">Registration of the rental agreement Ejari <span class="include__true__one nine">✓</span><span class="include__true__two">✓</span></li>
      <li class="include__li">Separate administrator <span class="include__true__one ten">✓</span><span class="include__true__two">✓</span></li>
      <li class="include__li">Detailed inspection of the object<span class="include__true__one eleven">✓</span></li>
      <li class="include__li">Property preparation before arrival<span class="include__true__one twenteen">✓</span></li>
      <li class="include__li">Reporting<span class="include__true__one threeteen">✓</span></li>
      <li class="include__li">Repair Request Management<span class="include__true__one fourteen">✓</span></li>
      <li class="include__li">Repair management<span class="include__true__one fiveteen">✓</span></li>
    </ul>
  </div>
  
  </section>
  <section class="propose">
    <div class="include__container">
    <h1 class="propose__h1">We will also propose</h1>
    <ul class="propose__ul">
      <li class="propose__li">
    <div class="propose__overlay">
    <picture width="290px" height="216px" class="propose__overlay__picture" >
      <source
        srcset="../photo/service/320/life-jpg-1x.jpg 1x, ../photo/service/320/life-jpg-2x.jpg 2x"
        media="(max-width:768px)"
      />
      <source
        srcset="../photo/service/320/life-wbp-1x.webp 1x, ../photo/service/320/life-wbp-2x.webp 2x"
        type="image/webp"
        media="(max-width:768px)"
      />
      <source
      srcset="../photo/service/760/life-jpg-1x.jpg 1x, ../photo/service/760/life-jpg-2x.jpg 2x"
      media="(min-width:768px) and (max-width:1920px)"
    />
    <source
      srcset="../photo/service/760/life-wbp-1x.webp 1x, ../photo/service/760/life-wbp-2x.webp 2x"
      type="image/webp"
      media="(min-width:768px) and (max-width:1920px)"
    />
    <source
    srcset="../photo/service/1920/life-jpg-1x.jpg 1x, ../photo/service/1920/life-jpg-2x.jpg 2x"
    media="(min-width:1920px)"
  />
  <source
    srcset="../photo/service/1920/life-wbp-1x.webp 1x, ../photo/service/1920/life-wbp-2x.webp 2x"
    type="image/webp"
    media="(min-width:1920px)"
  />
      <img src="/photo/service/320/life-jpg-1x.jpg"  alt="t">
    </picture>
    <div class="propose__card">
    <h2 class="propose__card__h2">Mortgage Registration</h2>
    <p class="propose__card__p">A person applying for a mortgage in the United Arab Emirates must meet the following requirements</p>
    <p class="propose__card__learn">Learn more</p>
    </div>
  </div>
  </li>
  <li class="propose__li">
    <div class="propose__overlay">
      <picture width="290px" height="216px" class="propose__overlay__picture" >
        <source
          srcset="../photo/service/320/balconview-jpg-1x.jpg 1x, ../photo/service/320/balconview-jpg-2x.jpg 2x"
          media="(max-width:768px)"
        />
        <source
          srcset="../photo/service/320/balconview-wbp-1x.webp 1x, ../photo/service/320/balconview-wbp-2x.webp 2x"
          type="image/webp"
          media="(max-width:768px)"
        />
        <source
        srcset="../photo/service/760/balconview-jpg-1x.jpg 1x, ../photo/service/760/balconview-jpg-2x.jpg 2x"
        media="(min-width:768px) and (max-width:1920px)"
      />
      <source
        srcset="../photo/service/760/balconview-wbp-1x.webp 1x, ../photo/service/760/balconview-wbp-2x.webp 2x"
        type="image/webp"
        media="(min-width:768px) and (max-width:1920px)"
      />
      <source
      srcset="../photo/service/1920/balconview-jpg-1x.jpg 1x, ../photo/service/1920/balconview-jpg-2x.jpg 2x"
      media="(min-width:1920px)"
    />
    <source
      srcset="../photo/service/1920/balconview-wbp-1x.webp 1x, ../photo/service/1920/balconview-wbp-2x.webp 2x"
      type="image/webp"
      media="(min-width:1020px)"
    />
        <img src="/photo/service/320/balconview-jpg-1x.jpg"  alt="t">
      </picture>
      <div class="propose__card">
    <h2 class="propose__card__h2">Mortgage Registration</h2>
    <p class="propose__card__p">A person applying for a mortgage in the United Arab Emirates must meet the following requirements</p>
    <p class="propose__card__learn">Learn more</p>
    </div>
  </div>
  </li>
  <li class="propose__li">
    <div class="propose__overlay">
    <picture width="290px" height="216px" class="propose__overlay__picture" >
      <source
        srcset="../photo/service/320/balconview-jpg-1x.jpg 1x, ../photo/service/320/balconview-jpg-2x.jpg 2x"
        media="(max-width:768px)"
      />
      <source
        srcset="../photo/service/320/balconview-wbp-1x.webp 1x, ../photo/service/320/balconview-wbp-2x.webp 2x"
        type="image/webp"
        media="(max-width:768px)"
      />
      <source
      srcset="../photo/service/760/balconview-jpg-1x.jpg 1x, ../photo/service/760/balconview-jpg-2x.jpg 2x"
      media="(min-width:768px) and (max-width:1920px)"
    />
    <source
      srcset="../photo/service/760/balconview-wbp-1x.webp 1x, ../photo/service/760/balconview-wbp-2x.webp 2x"
      type="image/webp"
      media="(min-width:768px) and (max-width:1920px)"
    />
    <source
    srcset="../photo/service/1920/balconview-jpg-1x.jpg 1x, ../photo/service/1920/balconview-jpg-2x.jpg 2x"
    media="(min-width:1920px)"
  />
  <source
    srcset="../photo/service/1920/balconview-wbp-1x.webp 1x, ../photo/service/1920/balconview-wbp-2x.webp 2x"
    type="image/webp"
    media="(min-width:1920px)"
  />
      <img src="/photo/service/320/balconview-jpg-1x.jpg"  alt="t">
    </picture>
    <div class="propose__card">
    <h2 class="propose__card__h2">Mortgage Registration</h2>
    <p class="propose__card__p">A person applying for a mortgage in the United Arab Emirates must meet the following requirements</p>
    <p class="propose__card__learn">Learn more</p>
    </div>
  </div>
  </li>
  </ul>
  <p class="propose__p">View all services</p>
    </div>
  </section>
  </div>

