<div class="container">
<section class="hero">
    <picture width="290px" height="191px">
        <source
          srcset="../photo/service/320/televison-jpg-1x.jpg, ../photo/service/320/televison-jpg-2x.jpg"
          media="(max-width:360px)"
        />
        <source
          srcset="../photo/service/320/televison-wbp-1x.webp, ../photo/service/320/televison-wbp-2x.webp"
          type="image/webp"
          media="(max-width:360px)"
        />
        <img src="/photo/service/320/televison-jpg-1x.jpg" alt="">
      </picture>
      <h3 class="hero__h3">Rent</h3>
      <h1 class="hero__h1">Furnished Apartments <span class="hero__span">in Dubai</span></h1>
      <p class="hero__p">Service <span class="hero__span__buy">Buying property in Dubai</span></p>
</section>
<section class="estate">
    <h1 class="estate__h1">Real estate investment in Dubai, UAE</h1>
    <div class="estate__text">
    <p>This response is important for our ability to learn from mistakes, but it alsogives rise to self-criticism, because it is part of the threat-protection system. In other words, what keeps us safe can go too far, and keep us too safe. In fact it can trigger self-censoring.</p>
    <p class="estate__text__p">One touch of a red-hot stove is usually all we need to avoid that kind of discomfort in the future. The same is true as we experience the emotional sensation of stress from our first instances of social rejection or ridicule. We quickly learn to fear and thus automatically avoid potentially stressful situations of all kinds, including the most common of all:</p>
    </div>
    <picture width="288px" height="252px" >
        <source
          srcset="../photo/service/320/dubai-jpg-1x.jpg, ../photo/service/320/dubai-jpg-2x.jpg"
          media="(max-width:360px)"
        />
        <source
          srcset="../photo/service/320/dubai-wbp-1x.webp, ../photo/service/320/dubai-wbp-1x.webp"
          type="image/webp"
          media="(max-width:360px)"
        />
        <img src="/photo/service/320/dubai-jpg-1x.jpg" alt="">
      </picture>
</section>
<section class="methods">
    <h1 class="methods__h1">Methods for Everyone</h1>
    <div class="methods__text">
        <p>Everything along the way, to and from, fascinated her: every pebble, ant, stick, leaf, blade of grass, and crack in the sidewalk was something to be picked up, looked at, tasted, smelled, and shaken. Everything was interesting to her. She knew nothing. I knew everything…been there, done that. She was in the moment, I was in the past. She was mindful. I was mindless.</p>
        <p class="methods__text__p">One touch of a red-hot stove is usually all we need to avoid that kind of discomfort in the future. The same is true as we experience the emotional sensation of stress from our first instances of social rejection or ridicule. We quickly learn to fear and thus automatically avoid potentially stressful situations of all kinds, including the most common of all: making mistakes.</p>
        </div>
</section>
<div class="author">
    <svg class="author__quotes"><use href="/svg-service/quotes.svg#quotes"></use></svg>
    <p class="author__p">Our greatest weakness lies in giving up. The most certain way to succeed is always to try just one more time. emotional sensation of stress from our firs</p>
    <div class="author__div">
    <p class="author__name">Paul</p>
    <span class="author__elite">Elite Author</span>
    </div>
</div>
<section class="photo">
  <div class="photo__picture">
  <picture width="290px" height="165px" >
    <source
      srcset="../photo/service/320/nightcity-jpg-1x.jpg, ../photo/service/320/nightcity-jpg-2x.jpg"
      media="(max-width:360px)"
    />
    <source
      srcset="../photo/service/320/nightcity-wbp-1x.webp, ../photo/service/320/nightcity-wbp-2x.webp"
      type="image/webp"
      media="(max-width:360px)"
    />
    <img src="/photo/service/320/nightcity-jpg-1x.jpg"  alt="t">
  </picture>
  </div>
  <div class="photo__picture">
  <picture width="290px" height="165px">
    <source
      srcset="../photo/service/320/sun-jpg-1x.jpg, ../photo/service/320/sun-jpg-2x.jpg"
      media="(max-width:360px)"
    />
    <source
      srcset="../photo/service/320/sun-wbp-1x.webp, ../photo/service/320/sun-wbp-2x.webp"
      type="image/webp"
      media="(max-width:360px)"
    />
    <img src="/photo/service/320/sun-jpg-1x.jpg"  alt="t">
  </picture>
  </div>
  <div class="photo__picture">
  <picture width="290px" height="300px" >
    <source
      srcset="../photo/service/320/beach-jpg-1x.jpg, ../photo/service/320/beach-jpg-2x.jpg"
      media="(max-width:360px)"
    />
    <source
      srcset="../photo/service/320/beach-wbp-1x.webp, ../photo/service/320/beach-wbp-1x.webp"
      type="image/webp"
      media="(max-width:360px)"
    />
    <img src="/photo/service/320/beach-jpg-1x.jpg"  alt="t">
  </picture>
</div>
</section>
<section class="recomend">
  <div class="recomend-container">
  <ul class="recomend-ul">
  <li class="recomend-ul-li">
  <svg class="recomend-twenty"><use href="/svg-service/twenty.svg#twenty"></use></svg>
  <p class="recomend-years">YEARS 
    WORKING</p>
  </li>
  <li class="recomend-ul-li">
  <svg class="recomend-seven"><use href="/svg-service/seven.svg#seven"></use></svg>
  <p class="recomend-talanted">TALANTED
    MANAGERS</p>
  </li>
    <li class="recomend-ul-li">
  <svg class="recomend-hundred"><use  href="/svg-service/hundred.svg#hundred"></use></svg>
  <p class="recomend-complitly">COMPLITLY
    PROJECTS</p>
  </li>
  </ul>
</div>
</section>
<section class="challenge">
  <h1 class="challenge__h1">Challenge</h1>
  <p class="challenge__p">To and from, fascinated her: every pebble, ant, stick, leaf, blade of grass, and crack in the sidewalk was something to be picked up, looked at, tasted, smelled, and shaken. Everything was interesting to her. She knew nothing. I knew everything…been there, done that. She was in the moment, I was in the past. She was mindful. I was mindless.</p>
  <div class="every">
  <h2 class="every__h2">Everything along the way</h2>
  <p class="every__p">One touch of a red-hot stove is usually all we need to avoid that kind of discomfort in the future. The same is true as we experience the emotional sensation of stress from our first instances of social rejection or ridicule. We quickly learn to fear and thus automatically avoid potentially stressful situations of all kinds, including the most common of all: making mistakes.</p>
  </div>
  <div class="line"></div>
  <div class="everything">
    <ul class="everything__ul">
      <li class="everything__li">Everything along the way, to and from, fascinated her: every pebble, ant, stick, leaf, blade of grass, and crack in the sidewalk was something to be picked up, looked at, tasted, smelled, and shaken</li>
      <li class="everything__li">Everything was interesting to her. She knew nothing. I knew everything…been there, done that. She was in the moment, I was in the past. She was mindful. I was mindless.</li>
      <li class="everything__li">One touch of a red-hot stove is usually all we need to avoid that kind of discomfort in the future. The same is true as we experience the emotional sensation of stress from our first instances of social rejection or ridicule.</li>
      <li class="everything__li">We quickly learn to fear and thus automatically avoid potentially stressful situations of all kinds, including the most common of all: making mistakes.</li>
    </ul>
  </div>
</section>
<section class="include">
  <div class="include__title">
  <h3 class="include__h3">Included in the package</h3>
</div>
  <ul class="include__ul">
    <li class="include__li">Real estate advertising </li>
    <li class="include__li">Search for tenants</li>
    <li class="include__li">Conclusion of a lease agreement</li>
    <li class="include__li">Getting paid</li>
    <li class="include__li">Key handover</li>
    <li class="include__li">Payment processing</li>
    <li class="include__li">Dealing with repair requests</li>
    <li class="include__li">DEWA connection (electricity/water)</li>
    <li class="include__li">Registration of the rental agreement Ejari</li>
    <li class="include__li">Separate administrator</li>
    <li class="include__li">Detailed inspection of the object</li>
    <li class="include__li">Property preparation before arrival</li>
    <li class="include__li">Reporting</li>
    <li class="include__li">Repair Request Management</li>
    <li class="include__li">Repair management</li>
  </ul>
</section>
<section class="propose">
  <h1 class="propose__h1">We will also propose</h1>
  <picture width="290px" height="216px" >
    <source
      srcset="../photo/service/320/life-jpg-1x.jpg, ../photo/service/320/life-jpg-2x.jpg"
      media="(max-width:360px)"
    />
    <source
      srcset="../photo/service/320/life-wbp-1x.webp, ../photo/service/320/life-wbp-2x.webp"
      type="image/webp"
      media="(max-width:360px)"
    />
    <img src="/photo/service/320/life-jpg-1x.jpg"  alt="t">
  </picture>
  <div class="propose__card">
  <h2 class="propose__card__h2">Mortgage Registration</h2>
  <p class="propose__card__p">A person applying for a mortgage in the United Arab Emirates must meet the following requirements</p>
  <p class="propose__card__learn">Learn more</p>
  </div>
  <picture width="290px" height="216px" >
    <source
      srcset="../photo/service/320/balconview-jpg-1x.jpg, ../photo/service/320/balconview-jpg-2x.jpg"
      media="(max-width:360px)"
    />
    <source
      srcset="../photo/service/320/balconview-wbp-1x.webp, ../photo/service/320/balconview-wbp-2x.webp"
      type="image/webp"
      media="(max-width:360px)"
    />
    <img src="/photo/service/320/balconview-jpg-1x.jpg"  alt="t">
  </picture>
  <p class="propose__p">View all services</p>
</section>
</div>

