<section class="projects">
  <div class="projects__title">
    <h2 class="projects__title__h2">Latest projects</h2>
    <div class="projects__div-choose2">
      <ul class="projects__div-choose2__ul">
        <li class="projects__div-choose2__ul__li1">All</li>
        <li class="projects__div-choose2__ul__li2">Building</li>
        <li class="projects__div-choose2__ul__li3">Interior</li>
        <li class="projects__div-choose2__ul__li4">View all projects</li>
      </ul>
    </div>
  </div>
  <div class="projects__div-choose">
    <ul class="projects__div-choose__ul">
      <li class="projects__div-choose__ul__li1">All</li>
      <li class="projects__div-choose__ul__li2">Building</li>
      <li class="projects__div-choose__ul__li3">Interior</li>
      <li class="projects__div-choose__ul__li4">View all projects</li>
    </ul>
  </div>
  <div class="projects__div-example">
    <ul class="projects__div-example__ul">
      <li class="projects__div-example__ul__li">
        <include
          src="./partials/main/main__latest-projects__bcgr-div-villatwo.html"
        ></include>
        <div class="projects__div-example__ul__li-hover">
          <p class="projects__div-example__ul__li-hover__title">Dubai</p>
          <p class="projects__div-example__ul__li-hover__p">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat
            molestie integer aliquam consectetur. Faucibus vitae dui massa
            tellus magna sit.
          </p>
          <button class="projects__div-example__ul__li-hover__btn">
            <p class="projects__div-example__ul__li-hover__btn__p">
              See project
            </p>
            <svg class="projects__div-example__ul__li-hover__btn__svg"><use class="luxury-div__text__svg-use" href="/photo/main/320/Arrow-example.svg#arrow-example"></use></svg>
          </button>
        </div>
        <p class="projects__div-example__ul__li__p">Villas</p>
      </li>
      <li class="projects__div-example__ul__li">
        <include
          src="./partials/main/main__latest-projects__bcgr-div-house.html"
        ></include>
        <div class="projects__div-example__ul__li-hover">
          <p class="projects__div-example__ul__li-hover__title">Dubai</p>
          <p class="projects__div-example__ul__li-hover__p">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat
            molestie integer aliquam consectetur. Faucibus vitae dui massa
            tellus magna sit.
          </p>
          <button class="projects__div-example__ul__li-hover__btn">
            <p class="projects__div-example__ul__li-hover__btn__p">
                See project
              </p>
              <svg class="projects__div-example__ul__li-hover__btn__svg"><use class="luxury-div__text__svg-use" href="/photo/main/320/Arrow-example.svg#arrow-example"></use></svg>
          </button>
        </div>
        <p class="projects__div-example__ul__li__p">Houses</p>
      </li>
      <li class="projects__div-example__ul__li">
        <include
          src="./partials/main/main__latest-projects__bcgr-div-house.html"
        ></include>
        <div class="projects__div-example__ul__li-hover">
          <p class="projects__div-example__ul__li-hover__title">Dubai</p>
          <p class="projects__div-example__ul__li-hover__p">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat
            molestie integer aliquam consectetur. Faucibus vitae dui massa
            tellus magna sit.
          </p>
          <button class="projects__div-example__ul__li-hover__btn">
            <p class="projects__div-example__ul__li-hover__btn__p">
                See project
              </p>
              <svg class="projects__div-example__ul__li-hover__btn__svg"><use class="luxury-div__text__svg-use" href="/photo/main/320/Arrow-example.svg#arrow-example"></use></svg>
          </button>
        </div>
        <p class="projects__div-example__ul__li__p">Houses</p>
      </li>
      <li class="projects__div-example__ul__li">
        <include
          src="./partials/main/main__latest-projects__bcgr-div-villaone.html"
        ></include>
        <div class="projects__div-example__ul__li-hover">
          <p class="projects__div-example__ul__li-hover__title">Dubai</p>
          <p class="projects__div-example__ul__li-hover__p">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat
            molestie integer aliquam consectetur. Faucibus vitae dui massa
            tellus magna sit.
          </p>
          <button class="projects__div-example__ul__li-hover__btn">
            <p class="projects__div-example__ul__li-hover__btn__p">
                See project
              </p>
              <svg class="projects__div-example__ul__li-hover__btn__svg"><use class="luxury-div__text__svg-use" href="/photo/main/320/Arrow-example.svg#arrow-example"></use></svg>
          </button>
        </div>
        <p class="projects__div-example__ul__li__p">Villas</p>
      </li>
    </ul>
  </div>
  <div class="projects__div-dots">
    <svg class="projects__div-dots__svg1">
      <use
        class="projects__div-dots__svg__use"
        href="/photo/main/320/Ellipse.svg#eclipse"
      ></use>
    </svg>
    <svg class="projects__div-dots__svg2">
      <use
        class="projects__div-dots__svg__use"
        href="/photo/main/320/Ellipse.svg#eclipse"
      ></use>
    </svg>
    <svg class="projects__div-dots__svg2">
      <use
        class="projects__div-dots__svg__use"
        href="/photo/main/320/Ellipse.svg#eclipse"
      ></use>
    </svg>
  </div>
</section>
