<div class="contact__img-div">
    <picture width="288px" height="324px">
        <source
          srcset="../photo/main/320/yellow-jpg-1x.jpg, ../photo/main/320/yellow-jpg-2x.jpg"
          media="(max-width:360px)"
        />
        <source
          srcset="../photo/main/320/yellow-wbp-1x.webp, ../photo/main/320/yellow-wbp-2x.webp"
          type="image/webp"
          media="(max-width:360px)"
        />
        <img class="contact__img-div__img" src="/photo/main/320/yellow-jpg-1x.jpg" alt="">
      </picture>
</div>