<div class="interier__img-div">
    <picture width="288px" height="324px">
        <source
          srcset="../photo/main/320/balcon-jpg-1x.jpg, ../photo/main/320/balcon-jpg-2x.jpg"
          media="(max-width:360px)"
        />
        <source
          srcset="../photo/main/320/balcon-wbp-1x.webp, ../photo/main/320/balcon-wbp-2x.webp"
          type="image/webp"
          media="(max-width:360px)"
        />
        <img class="interier__img-div__img" src="/photo/main/320/balcon-jpg-1x.jpg" alt="">
      </picture>
      <picture width="691px" height="372px">
        <source
          srcset="../photo/main/760/balcon-jpg-1x.jpg, ../photo/main/760/balcon-jpg-2x.jpg"
          media="(min-width:768px)"
        />
        <source
          srcset="../photo/main/760/balcon-wbp-1x.webp, ../photo/main/760/balcon-wbp-2x.webp"
          type="image/webp"
          media="(min-width:768px)"
        />
        <img class="interier__img-div__img2" src="/photo/main/760/balcon-jpg-1x.jpg" alt="">
      </picture>
      <picture width="350px" height="329px">
        <source
          srcset="../photo/main/1920/pool-jpg-1x.jpg, ../photo/main/1920/pool-jpg-2x.jpg"
          media="(min-width:1920px)"
        />
        <source
          srcset="../photo/main/1920/pool-wbp-1x.webp, ../photo/main/1920/pool-wbp-2x.webp"
          type="image/webp"
          media="(min-width:1920px)"
        />
        <img class="interier__img-div__img3" src="/photo/main/1920/pool-jpg-1x.jpg" alt="">
      </picture>
</div>