<div class="paul__img-div2">
    <picture width="288px" height="324px">
        <source
          srcset="../photo/main/760/robert-jpg-1x.jpg, ../photo/main/760/robert-jpg-2x.jpg"
          media="(max-width:760px)"
        />
        <source
          srcset="../photo/main/760/robert-wbp-1x.webp, ../photo/main/760/robert-wbp-2x.webp"
          type="image/webp"
          media="(max-width:760px)"
        />
        <img class="paul__img-div2__img" src="/photo/main/760/robert-jpg-1x.jpg" alt="">
      </picture>
</div>