<section class="luxury">
<div class="luxury-div__text">
    <svg class="luxury-div__text__svg"><use class="luxury-div__text__svg-use" href="/photo/main/320/yellow-line.svg#line"></use></svg>
    <p class="luxury-div__text__p">LOREM IPSUM</p>
    <h1 class="luxury-div__text__h1"><span>Welcome home</span> <span class="luxury-div__text__h1__span">to</span> <span>luxury</span></h1>
    <p class="luxury-div__text__p2">Book a consultation</p>
    <svg class="luxury-div__text__svg2"><use class="luxury-div__text__svg-use2" href="/photo/main/320/Arrow.svg#arrow"></use></svg>
</div>
<div class="luxury-div__skip">
    <p class="luxury-div__skip__p">PREV</p>
    <p class="luxury-div__skip__p">NEXT</p>
</div>
</section>