<div class="video__bacgroung-img">
    <picture width="288px" height="324px">
        <source
          srcset="../photo/main/320/video-jpg-1x.jpg, ../photo/main/320/video-jpg-2x.jpg"
          media="(max-width:360px)"
        />
        <source
          srcset="../photo/main/320/video-wbp-1x.webp, ../photo/main/320/video-wbp-2x.webp"
          type="image/webp"
          media="(max-width:360px)"
        />
        <img class="video__bacgroung-img__img" src="/photo/main/320/video-jpg-1x.jpg" alt="">
      </picture>
      <picture width="691px" height="372px">
        <source
          srcset="../photo/main/760/video-jpg-1x.jpg, ../photo/main/760/video-jpg-2x.webp"
          media="(min-width:768px)"
        />
        <source
          srcset="../photo/main/760/video-wbp-1x.webp, ../photo/main/760/video-wbp-2x.jpg"
          type="image/webp"
          media="(min-width:768px)"
        />
        <img class="video__bacgroung-img__img2" src="/photo/main/760/video-jpg-1x.jpg" alt="">
      </picture>
      <picture width="350px" height="329px">
        <source
          srcset="../photo/main/1920/video-jpg-1x.jpg, ../photo/main/1920/video-jpg-2x.jpg"
          media="(min-width:1920px)"
        />
        <source
          srcset="../photo/main/1920/video-wbp-1x.webp, ../photo/main/1920/video-wbp-2x.webp"
          type="image/webp"
          media="(min-width:1920px)"
        />
        <img class="video__bacgroung-img__img3" src="/photo/main/1920/video-jpg-1x.jpg" alt="">
      </picture>
</div>