<section class="numbers">
  <div class="numbers__div">
    <ul class="numbers__div__ul">
      <li class="numbers__div__ul-li">
        <p class="numbers__div__ul-li__p1">01</p>
        <p class="numbers__div__ul-li__p2">Lorem Ipsum Dolorem apset</p>
      </li>
      <li class="numbers__div__ul-li">
        <p class="numbers__div__ul-li__p">02</p>
        <p class="numbers__div__ul-li__p2">Lorem Ipsum Dolorem apset</p>
      </li>
      <li class="numbers__div__ul-li">
        <p class="numbers__div__ul-li__p">03</p>
        <p class="numbers__div__ul-li__p2">Lorem Ipsum Dolorem apset</p>
      </li>
    </ul>
  </div>
</section>
