<div class="luxury__background-div">
<picture width="288px" height="324px">
    <source
      srcset="../photo/main/320/home-jpg-1x.jpg, ../photo/main/320/home-jpg-2x.jpg"
      media="(max-width:360px)"
    />
    <source
      srcset="../photo/main/320/home-webp-1x.webp, ../photo/main/320/home-webp-2x.webp"
      type="image/webp"
      media="(max-width:360px)"
    />
    <img class="picture-div__img" src="/photo/main/320/home-jpg-1x.jpg" alt="">
  </picture>
  <!-- <picture width="322px" height="324px">
    <source
      srcset="../photo/main/760/most-jpg-1x.jpg, ../photo/main/760/most-jpg-2x.jpg"
      media="(min-width:768px)"
    />
    <source
      srcset="../photo/blog/760/most-wbp-1x.webp, ../photo/blog/760/most-wbp-2x.webp"
      type="image/webp"
      media="(min-width:768px)"
    />
    <img class="picture-div__img2" src="/photo/blog/760/most-jpg-1x.jpg" alt="">
  </picture>
  <picture width="350px" height="329px">
    <source
      srcset="../photo/blog/1920/most-jpg-1x.jpg, ../photo/blog/1920/most-jpg-2x.jpg"
      media="(min-width:1920px)"
    />
    <source
      srcset="../photo/blog/1920/most-wbp-1x.webp, ../photo/blog/1920/most-wbp-2x.webp"
      type="image/webp"
      media="(min-width:1920px)"
    />
    <img class="picture-div__img3" src="/photo/blog/1920/most-jpg-1x.jpg" alt="">
  </picture> -->
</div>