<section class="articles">
    <div class="articles__div">
        <p class="articles__div__title">Useful articles</p>
        <button class="articles__div__btn"><p class="articles__div__btn__p">View all articles</p> 
            <svg class="articles__div__btn__svg">
                <use
                  class="articles__svg__use"
                  href="/photo/main/320/arrow-articles.svg#arrow-articles"
                ></use>
              </svg>
        </button>
    </div>
    <div class="articles__div2">
        <include src="./partials/main/main_articles__sea-img.html"></include>
    </div>
    <section class="architecture2">
        <div class="architecture2__div">
          <p class="architecture2__div__p-date">Jule 03, 2022</p>
          <p class="architecture2__div__p-title">Discover Architecture</p>
          <p class="architecture2__div__p">
            Projects for many large domestic and foreign corporations, enterprises in
            many elds such
          </p>
          <button class="architecture2__div__btn">
            <p class="architecture2__div__btn__p">Learn more</p>
            <svg class="architecture2__div__btn__svg">
              <use
                class="architecture2__svg__use"
                href="/photo/main/320/Arrow-architecture.svg#architecture"
              ></use>
            </svg>
          </button>
        </div>
        <include src="./partials/main/main__architecture__img-city.html"></include>
      </section>      
</section>