<section class="video">
  <include src="./partials/main/main__video__img.html"></include>
  <button class="video__btn">
    <svg class="video__svg3">
      <use
        class="video__svg__use"
        href="/photo/main/1920/play-button-1920.svg#play-btn-1920"
      ></use>
    </svg>
    <svg class="video__svg2">
      <use
        class="video__svg__use"
        href="/photo/main/760/play-button2.svg#play2"
      ></use>
    </svg>
    <svg class="video__svg">
      <use
        class="video__svg__use"
        href="/photo/main/320/play-button1.svg#play"
      ></use>
    </svg>
  </button>
</section>
