<div class="projects__background-div">
    <picture width="288px" height="324px">
        <source
          srcset="../photo/main/320/villatwo-jpg-1x.jpg, ../photo/main/320/villatwo-jpg-2x.jpg"
          media="(max-width:360px)"
        />
        <source
          srcset="../photo/main/320/villatwo-wbp-1x.webp, ../photo/main/320/villatwo-wbp-2x.webp"
          type="image/webp"
          media="(max-width:360px)"
        />
        <img class="projects__background-div__img1" src="/photo/main/320/villatwo-jpg-1x.jpg" alt="">
      </picture>
<picture width="165px" height="220px">
  <source
    srcset="../photo/main/760/villatwo-jpg-1x.jpg, ../photo/main/760/villatwo-jpg-2x.jpg"
    media="(min-width:768px)"
  />
  <source
    srcset="../photo/main/760/villatwo-wbp-1x.webp, ../photo/main/760/villatwo-wbp-2x.webp"
    type="image/webp"
    media="(min-width:768px)"
  />
  <img class="projects__background-div__img2" src="/photo/main/760/villatwo-jpg-1x.jpg" alt="">
</picture>
<picture width="350px" height="329px">
  <source
    srcset="../photo/main/1920/rain-jpg-1x.jpg, ../photo/main/1920/rain-jpg-2x.jpg"
    media="(min-width:1920px)"
  />
  <source
    srcset="../photo/main/1920/rain-wbp-1x.webp, ../photo/main/1920/rain-wbp-2x.webp"
    type="image/webp"
    media="(min-width:1920px)"
  />
  <img class="projects__background-div__img3" src="/photo/main/1920/rain-jpg-1x.jpg" alt="">
</picture>
</div>