<div class="projects__background-div">
    <picture width="288px" height="324px">
        <source
          srcset="../photo/main/320/villaone-jpg-1x.jpg, ../photo/main/320/villaone-jpg-2x.jpg"
          media="(max-width:360px)"
        />
        <source
          srcset="../photo/main/320/villaone-wbp-1x.webp, ../photo/main/320/villaone-wbp-2x.webp"
          type="image/webp"
          media="(max-width:360px)"
        />
        <img class="picture-div__img" src="/photo/main/320/villaone-jpg-1x.jpg" alt="">
      </picture>
      <picture width="165px" height="220px">
        <source
          srcset="../photo/main/760/villaone-jpg-1x.jpg, ../photo/main/760/villaone-jpg-2x.jpg"
          media="(min-width:768px)"
        />
        <source
          srcset="../photo/main/760/villaone-wbp-1x.webp, ../photo/main/760/villaone-wbp-2x.webp"
          type="image/webp"
          media="(min-width:768px)"
        />
        <img class="projects__background-div__img2" src="/photo/main/760/villaone-jpg-1x.jpg" alt="">
      </picture>
      <picture width="350px" height="329px">
        <source
          srcset="../photo/main/1920/zerkalo-jpg-1x.jpg, ../photo/main/1920/zerkalo-jpg-2x.jpg"
          media="(min-width:1920px)"
        />
        <source
          srcset="../photo/main/1920/zerkalo-wbp-1x.webp, ../photo/main/1920/zerkalo-wbp-2x.webp"
          type="image/webp"
          media="(min-width:1920px)"
        />
        <img class="projects__background-div__img3" src="/photo/main/1920/zerkalo-jpg-1x.jpg" alt="">
      </picture>
</div>