<section class="faq">
  <div class="faq__div">
    <p class="faq__div__p">FAQ</p>
    <ul class="faq__div__ul">
      <li class="faq__div__ul__li">
        <p class="faq__div__ul__li__p">
          The largest and oldest Quotations Page on the Web with about 30
          categories
        </p>
        <svg class="faq__div__ul__li__svg">
            <use
              class="faq__svg__use"
              href="/photo/main/320/arrow-faq.svg#faq"
            ></use>
          </svg>
      </li>
      <li class="faq__div__ul__li">
        <p class="faq__div__ul__li__p">
          A huge collection of inspirational quotes, thoughts of greatest minds
          in history
        </p>
        <svg class="faq__div__ul__li__svg">
            <use
              class="faq__svg__use"
              href="/photo/main/320/arrow-faq.svg#faq"
            ></use>
          </svg>
      </li>
      <li class="faq__div__ul__li">
        <p class="faq__div__ul__li__p">
          Quotations from the great works of literature
        </p>
        <svg class="faq__div__ul__li__svg">
            <use
              class="faq__svg__use"
              href="/photo/main/320/arrow-faq.svg#faq"
            ></use>
          </svg>
      </li>
      <li class="faq__div__ul__li">
        <p class="faq__div__ul__li__p">
          Read quotes and sayings from famous people in history
        </p>
        <svg class="faq__div__ul__li__svg">
            <use
              class="faq__svg__use"
              href="/photo/main/320/arrow-faq.svg#faq"
            ></use>
          </svg>
      </li>
      <li class="faq__div__ul__li2">
        <p class="faq__div__ul__li2__p2">Collected quotes from Albert Einstein</p>
        <svg class="faq__div__ul__li2__svg">
            <use
              class="faq__svg__use"
              href="/photo/main/320/arrow-faq.svg#faq"
            ></use>
          </svg>
      </li>
    </ul>
  </div>
</section>
