<section class="paul">
  <div class="paul__div">
    <include src="./partials/main/main__paul__img-paul.html"></include>
    <include src="./partials/main/main__paul__text.html"></include>
    <p class="paul__div__p-title">Paul</p>
    <p class="paul__div__p-owner">
      Owner in
      <a class="paul__div__p-owner__a" href="https://paul.com/">Paul.com</a>
    </p>
    <p class="paul__div__p">
      Projects for many large domestic and foreign corporations, enterprises in
      many elds such as nance, banking, F&B, education, communication.
    </p>
  </div>
  <div class="projects__div-dots">
    <svg class="projects__div-dots__svg1">
      <use
        class="projects__div-dots__svg__use"
        href="/photo/main/320/Ellipse.svg#eclipse"
      ></use>
    </svg>
    <svg class="projects__div-dots__svg2">
      <use
        class="projects__div-dots__svg__use"
        href="/photo/main/320/Ellipse.svg#eclipse"
      ></use>
    </svg>
    <svg class="projects__div-dots__svg2">
      <use
        class="projects__div-dots__svg__use"
        href="/photo/main/320/Ellipse.svg#eclipse"
      ></use>
    </svg>
  </div>
    <div class="paul__div2">
      <include src="./partials/main/main__paul__img-robert.html"></include>
      <include src="./partials/main/main__paul__text2.html"></include>
      <p class="paul__div2__p-title">Robert</p>
      <p class="paul__div2__p-owner">
        Founder in
        <a class="paul__div2__p-owner__a" href="https://paul.com/">Apple inc.</a>
      </p>
      <p class="paul__div2__p">
        Founded in 2007, Sparch is specializing in providing innovative services
        such as website design, brand identity and marketing
      </p>
    </div>
  <div class="projects__div-dots2">
    <svg class="projects__div-dots2__svg1">
      <use
        class="projects__div-dots2__svg__use"
        href="/photo/main/320/Ellipse.svg#eclipse"
      ></use>
    </svg>
    <svg class="projects__div-dots2__svg2">
      <use
        class="projects__div-dots2__svg__use"
        href="/photo/main/320/Ellipse.svg#eclipse"
      ></use>
    </svg>
    <svg class="projects__div-dots2__svg2">
      <use
        class="projects__div-dots2__svg__use"
        href="/photo/main/320/Ellipse.svg#eclipse"
      ></use>
    </svg>
  </div>
</section>
