<section class="architecture">
  <div class="architecture__div">
    <p class="architecture__div__p-date">Jule 03, 2022</p>
    <p class="architecture__div__p-title">Discover Architecture</p>
    <p class="architecture__div__p">
      Projects for many large domestic and foreign corporations, enterprises in
      many elds such
    </p>
    <button class="architecture__div__btn">
      <p class="architecture__div__btn__p">Learn more</p>
      <svg class="architecture__div__btn__svg">
        <use
          class="architecture__svg__use"
          href="/photo/main/320/Arrow-architecture.svg#architecture"
        ></use>
      </svg>
    </button>
  </div>
  <include src="./partials/main/main__architecture__img-city.html"></include>
</section>
