<section class="faq">
  <div class="faq__div">
    <p class="faq__div__p">FAQ</p>
    <ul class="faq__div__ul">
      <li class="faq__div__ul__li3">
        <p class="faq__div__ul__li3__p">
          The largest and oldest Quotations Page on the Web with about 30
          categories
        </p>
        <svg class="faq__div__ul__li__svg">
          <use
            class="faq__svg__use"
            href="/photo/main/320/arrow-faq.svg#faq"
          ></use>
        </svg>
        <button class="faq__div__ul__li3__btn">
          <svg class="faq__div__ul__li3__svg">
            <use
              class="faq__svg__use"
              href="/photo/main/320/arrow-faq.svg#faq"
            ></use>
          </svg>
          <svg class="faq__div__ul__li3__svg3">
            <use
              class="faq__svg__use"
              href="/photo/main/1920/faq-arrow-down.svg#faq-down"
            ></use>
          </svg>
        </button>
        <p class="faq__div__ul__li3__p2">
          Sed in sem pellentesque, eleifend erat vitae, tincidunt turpis.
          Pellentesque augue elit, rutrum sit amet commodo vel, porta quis
          purus. Nullam faucibus, odio eu bibendum auctor, eros dolor aliquet
          purus, sit amet pellentesque neque est id tortor. In egestas, erat a
          dapibus dapibus, mi augue ornare lorem, nec pretium ligula purus nec
          tellus. Aenean a scelerisque nisi. Nullam pretium fermentum nunc,
          feugiat placerat urna rutrum eget. Nullam mattis justo consequat
          risus. Donec imperdiet enim id efficitur pharetra. Nam sollicitudin at
          est eget auctor. Ut sed ante quis nulla tincidunt auctor. Quisque
          accumsan pretium tincidunt. Etiam viverra ultrices est vitae suscipit.
          Pellentesque elementum purus non nisl pharetra consequat. Nunc in
          venenatis orci.
        </p>
      </li>
      <li class="faq__div__ul__li4">
        <p class="faq__div__ul__li4__p">
          A huge collection of inspirational quotes, thoughts of greatest minds
          in history
        </p>
        <svg class="faq__div__ul__li__svg">
          <use
            class="faq__svg__use"
            href="/photo/main/320/arrow-faq.svg#faq"
          ></use>
        </svg>
        <button class="faq__div__ul__li4__btn">
          <svg class="faq__div__ul__li4__svg">
            <use
              class="faq__svg__use"
              href="/photo/main/320/arrow-faq.svg#faq"
            ></use>
          </svg>
          <svg class="faq__div__ul__li4__svg3">
            <use
              class="faq__svg__use"
              href="/photo/main/1920/faq-arrow-down.svg#faq-down"
            ></use>
          </svg>
        </button>
        <p class="faq__div__ul__li4__p2">
          Sed in sem pellentesque, eleifend erat vitae, tincidunt turpis.
          Pellentesque augue elit, rutrum sit amet commodo vel, porta quis
          purus. Nullam faucibus, odio eu bibendum auctor, eros dolor aliquet
          purus, sit amet pellentesque neque est id tortor. In egestas, erat a
          dapibus dapibus, mi augue ornare lorem, nec pretium ligula purus nec
          tellus. Aenean a scelerisque nisi. Nullam pretium fermentum nunc,
          feugiat placerat urna rutrum eget. Nullam mattis justo consequat
          risus. Donec imperdiet enim id efficitur pharetra. Nam sollicitudin at
          est eget auctor. Ut sed ante quis nulla tincidunt auctor. Quisque
          accumsan pretium tincidunt. Etiam viverra ultrices est vitae suscipit.
          Pellentesque elementum purus non nisl pharetra consequat. Nunc in
          venenatis orci.
        </p>
      </li>
      <li class="faq__div__ul__li5">
        <p class="faq__div__ul__li5__p">
          Quotations from the great works of literature
        </p>
        <svg class="faq__div__ul__li__svg">
          <use
            class="faq__svg__use"
            href="/photo/main/320/arrow-faq.svg#faq"
          ></use>
        </svg>
        <button class="faq__div__ul__li5__btn">
          <svg class="faq__div__ul__li5__svg">
            <use
              class="faq__svg__use"
              href="/photo/main/320/arrow-faq.svg#faq"
            ></use>
          </svg>
          <svg class="faq__div__ul__li5__svg3">
            <use
              class="faq__svg__use"
              href="/photo/main/1920/faq-arrow-down.svg#faq-down"
            ></use>
          </svg>
        </button>
        <p class="faq__div__ul__li5__p2">
          Sed in sem pellentesque, eleifend erat vitae, tincidunt turpis.
          Pellentesque augue elit, rutrum sit amet commodo vel, porta quis
          purus. Nullam faucibus, odio eu bibendum auctor, eros dolor aliquet
          purus, sit amet pellentesque neque est id tortor. In egestas, erat a
          dapibus dapibus, mi augue ornare lorem, nec pretium ligula purus nec
          tellus. Aenean a scelerisque nisi. Nullam pretium fermentum nunc,
          feugiat placerat urna rutrum eget. Nullam mattis justo consequat
          risus. Donec imperdiet enim id efficitur pharetra. Nam sollicitudin at
          est eget auctor. Ut sed ante quis nulla tincidunt auctor. Quisque
          accumsan pretium tincidunt. Etiam viverra ultrices est vitae suscipit.
          Pellentesque elementum purus non nisl pharetra consequat. Nunc in
          venenatis orci.
        </p>
      </li>
      <li class="faq__div__ul__li6">
        <p class="faq__div__ul__li6__p">
          Read quotes and sayings from famous people in history
        </p>
        <svg class="faq__div__ul__li__svg">
          <use
            class="faq__svg__use"
            href="/photo/main/320/arrow-faq.svg#faq"
          ></use>
        </svg>
        <button class="faq__div__ul__li6__btn">
          <svg class="faq__div__ul__li6__svg">
            <use
              class="faq__svg__use"
              href="/photo/main/320/arrow-faq.svg#faq"
            ></use>
          </svg>
          <svg class="faq__div__ul__li6__svg3">
            <use
              class="faq__svg__use"
              href="/photo/main/1920/faq-arrow-down.svg#faq-down"
            ></use>
          </svg>
        </button>
        <p class="faq__div__ul__li6__p2">
          Sed in sem pellentesque, eleifend erat vitae, tincidunt turpis.
          Pellentesque augue elit, rutrum sit amet commodo vel, porta quis
          purus. Nullam faucibus, odio eu bibendum auctor, eros dolor aliquet
          purus, sit amet pellentesque neque est id tortor. In egestas, erat a
          dapibus dapibus, mi augue ornare lorem, nec pretium ligula purus nec
          tellus. Aenean a scelerisque nisi. Nullam pretium fermentum nunc,
          feugiat placerat urna rutrum eget. Nullam mattis justo consequat
          risus. Donec imperdiet enim id efficitur pharetra. Nam sollicitudin at
          est eget auctor. Ut sed ante quis nulla tincidunt auctor. Quisque
          accumsan pretium tincidunt. Etiam viverra ultrices est vitae suscipit.
          Pellentesque elementum purus non nisl pharetra consequat. Nunc in
          venenatis orci.
        </p>
      </li>
      <li class="faq__div__ul__li2">
        <p class="faq__div__ul__li2__p2">
          Collected quotes from Albert Einstein
        </p>
        <svg class="faq__div__ul__li2__svg">
          <use
            class="faq__svg__use"
            href="/photo/main/320/arrow-faq.svg#faq"
          ></use>
        </svg>
        <button class="faq__div__ul__li2__btn">
          <svg class="faq__div__ul__li2__svg2">
            <use
              class="faq__svg__use"
              href="/photo/main/320/arrow-faq.svg#faq"
            ></use>
          </svg>
          <svg class="faq__div__ul__li2__svg3">
            <use
              class="faq__svg__use"
              href="/photo/main/1920/faq-arrow-down.svg#faq-down"
            ></use>
          </svg>
        </button>
        <p class="faq__div__ul__li2__p3">
          Sed in sem pellentesque, eleifend erat vitae, tincidunt turpis.
          Pellentesque augue elit, rutrum sit amet commodo vel, porta quis
          purus. Nullam faucibus, odio eu bibendum auctor, eros dolor aliquet
          purus, sit amet pellentesque neque est id tortor. In egestas, erat a
          dapibus dapibus, mi augue ornare lorem, nec pretium ligula purus nec
          tellus. Aenean a scelerisque nisi. Nullam pretium fermentum nunc,
          feugiat placerat urna rutrum eget. Nullam mattis justo consequat
          risus. Donec imperdiet enim id efficitur pharetra. Nam sollicitudin at
          est eget auctor. Ut sed ante quis nulla tincidunt auctor. Quisque
          accumsan pretium tincidunt. Etiam viverra ultrices est vitae suscipit.
          Pellentesque elementum purus non nisl pharetra consequat. Nunc in
          venenatis orci.
        </p>
      </li>
    </ul>
  </div>
  <script src="./partials/main/_main.js"></script>
</section>
