<section class="projects">
  <div class="projects__title">
    <h2 class="projects__title__h2">Latest projects</h2>
  </div>
  <div class="projects__div-choose">
    <ul class="projects__div-choose__ul">
      <li class="projects__div-choose__ul__li1">All</li>
      <li class="projects__div-choose__ul__li2">Building</li>
      <li class="projects__div-choose__ul__li3">Interior</li>
      <li class="projects__div-choose__ul__li4">View all projects</li>
    </ul>
  </div>
  <div class="projects__div-example">
    <ul class="projects__div-example__ul">
      <li class="projects__div-example__ul__li">
        <include src="./partials/main/main__latest-projects__bcgr-div-villatwo.html"></include>
        <p class="projects__div-example__ul__li__p">Villas</p>
      </li>
      <li class="projects__div-example__ul__li">
        <include src="./partials/main/main__latest-projects__bcgr-div-house.html"></include>
        <p class="projects__div-example__ul__li__p">Houses</p>
      </li>
      <li class="projects__div-example__ul__li">
        <include src="./partials/main/main__latest-projects__bcgr-div-house.html"></include>
        <p class="projects__div-example__ul__li__p">Houses</p>
      </li>
      <li class="projects__div-example__ul__li">
        <include src="./partials/main/main__latest-projects__bcgr-div-villaone.html"></include>
        <p class="projects__div-example__ul__li__p">Villas</p>
      </li>
    </ul>
  </div>
  <div class="projects__div-dots">
    
  </div>
</section>
