<section class="contact">
    <include src="./partials/main/main__contact__yellow-img.html"></include>
    <div class="contact__div">
        <p class="contact__div__p">Do you have any questions?</p>
        <p class="contact__div__title">Contact us</p>
        <form class="contact__div__form" action="">
            <input class="contact__div__input" type="email" placeholder="Enter your email">
            <button class="contact__div__btn" type="button">Send</button>
        </form>
    </div>
</section>