.architecture{
    width: 288px;
    height: 460px;
    margin-bottom: 50px;
    &__img-div{
        width: 288px;
        height: 220px;
        &__img{
            width: 288px;
            height: 220px;
        }
    }
    &__div{
        width: 288px;
        height: 220px;
        padding: 31px 23px 25px 22px;
        border: 1px solid #fcd54c;
        margin-bottom: 20px;
        &__p-date{
            width: 79px;
            height: 14px;
            font-weight: 400;
            font-size: 12px;
            line-height: 14.08px;
            font-family: Work Sans;
            margin-bottom: 13px;
        }
        &__p-title{
            width: 90px;
            height: 44px;
            font-weight: 700;
            font-size: 18px;
            line-height: 22.28px;
            margin-bottom: 13px;
        }
        &__p{
            width: 235px;
            height: 42px;
            font-weight: 400;
            font-size: 12px;
            line-height: 14.08px;
            margin-bottom: 20px;
            color: #929292;
        }
        &__btn{
            width: 90px;
            height: 12px;
            padding: 0;
            border: 0;
            background-color: #272727;
            display: flex;
            &__svg{
                width: 7px;
                height: 9px;
                margin: 3px 0 0 0;
            }
            &__p{
                width: 68px;
                height: 12px;
                font-size: 12px;
                font-weight: 600;
                color: #fcd54c;
                margin-right: 7px;
            }
        }
    }
}