.articles{
    height: 480px;
    width: 1908px;
    margin-bottom: 170px;
    padding: 0 350px 0 345px;
    display: flex;
    flex-wrap: wrap;
    &__img-div{
        position: absolute;
        z-index: -3;
    }
    &__div2{
        width: 350px;
        height: 352px;
        margin-right: 30px;
        position: relative;
        &__p{
            width: 253;
            height: 35px;
            font-weight: 700;
            font-size: 25px;
            line-height: 35px;
            margin: 264px 59px 53px 38px;
        }
    }
    &__div{
        height: 67px;
        width: 1111px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 90px;
        &__title{
            width: 907px;
            height: 67px;
            font-weight: 700;
            font-size: 70px;
            line-height: 84.63px;
            margin-right: 43px;
        }
        &__btn{
            width: 150px;
            height: 30px;
            color: #929292;
            display: flex;
            padding: 0;
            border: 0;
            background-color: #272727;
            margin: 47px 0 0 0;
            &__svg2{
                width: 12px;
                height: 20px;
            }
            &__p{
                width: 128px;
                height: 30px;
                margin: auto 0;
                font-weight: 600;
                font-size: 16px;
                line-height: 21px;
                color: #929292;
                margin-right: 11px;
            }
        }
    }
}