.faq{
    width: 690px;
    height: 392px;
    margin-bottom: 70px;
    &__div{
        width: 690px;
        height: 392px;
        &__p{
            width: 58px;
            height: 37px;
            margin-bottom: 40px;
            font-weight: 700;
            font-size: 30px;
            line-height: 37.14px;
        }
        &__ul{
            width: 690px;
            height: 315px;
            gap: 22px;
            display: flex;
            flex-direction: column;
            &__li2{
                width: 690px;
                height: 63px;
                display: flex;
                border-top: 1px solid #929292;
                border-bottom: 1px solid #929292;
                &__svg{
                    width: 13px;
                    height: 21px;
                    margin: auto 0;
                }
                &__p2{
                    width: 640px;
                    height: 63px;
                    font-size: 16px;
                    line-height: 20.8px;
                    font-weight: 400;
                    margin: 20px 33px 22px 0;
                }
            }
            &__li{
                width: 690px;
                height: 41px;
                display: flex;
                border-top: 1px solid #929292;
                &__svg{
                    width: 13px;
                    height: 21px;
                    margin: 22px 0 0 0;
                }
                &__p{
                    width: 640px;
                    height: 21px;
                    font-size: 16px;
                    line-height: 20.8px;
                    font-weight: 400;
                    margin-right: 33px;
                    margin-top: 20px;
                }
            }
        }
    }
}