.faq{
    width: 288px;
    height: 365px;
    margin-bottom: 50px;
    &__div{
        width: 288px;
        height: 365px;
        &__p{
            width: 47px;
            height: 30px;
            margin-bottom: 20px;
            font-weight: 700;
            font-size: 24px;
            line-height: 29.71px;
        }
        &__ul{
            width: 288px;
            height: 315px;
            gap: 11px;
            display: flex;
            flex-direction: column;
            &__li2{
                width: 288px;
                height: 53px;
                display: flex;
                border-top: 1px solid #929292;
                border-bottom: 1px solid #929292;
                &__btn{
                    width: 13px;
                    height: 21px;
                    margin: auto 0;
                    background-color: transparent;
                    border: 0;
                    padding: 0;
                }
                &__svg2{
                    width: 13px;
                    height: 21px;
                    margin: auto 0;
                }
                &__p2{
                    width: 225px;
                    height: 16px;
                    font-size: 12px;
                    line-height: 130%;
                    font-weight: 400;
                    margin: 20px 33px 23px 0;
                }
            }
            &__li3, &__li4, &__li5, &__li6{
                width: 288px;
                height: 53px;
                display: flex;
                border-top: 1px solid #929292;
                &__svg{
                    width: 13px;
                    height: 21px;
                    margin: 22px 0 0 0;
                }
                &__p{
                    width: 225px;
                    height: 32px;
                    font-size: 12px;
                    line-height: 130%;
                    font-weight: 400;
                    margin-right: 33px;
                    margin-top: 20px;
                }
                &__btn{
                    width: 13px;
                    height: 21px;
                    margin: 0px 0 0 0;
                    background-color: transparent;
                    border: 0;
                    padding: 0;
                }
            }
        }
    }
}