.interier{
    width: 288px;
    height: 1380px;
    margin-bottom: 40px;
    &__ul{
        width: 288px;
        height: 1380px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        &__li{
            height: 678px;
            width: 288px;
            &__p{
                width: 250px;
                height: 465px;
                margin-top: 20px;
                font-weight: 400;
                font-size: 14px;
                line-height: 160%;
            }
        }
    }
}