.limit{
    width: 690px;
    height: 162px;
    border: 1px solid #fcd54c;
    padding: 37px 58.43px 38px 60.3px;
    margin-bottom: 70px;
    &__div{
        width: 571.3px;
        height: 87px;
        &__p{
            width: 562px;
            height: 87px;
            font-weight: 400;
            font-size: 18px;
            line-height: 28.8px;
            &__span2{
                color: #fcd54c;
            }
        }
    }
}