.luxury{
    width: 288px;
    height: 322px;
    background-image: url(/photo/main/320/home-jpg-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 19px auto 42px;
}

.luxury-div__text{
    height: 195px;
    width: 250px;
}