@import '/cssfonnts/fonts.scss';
@import './main-container-360';
@import './luxury';
@import './numbers';
@import './projects';
@import './expertise';
@import './video';
@import './limit';
@import './interier';
@import './contact';
@import './articles';
@import './architecture';
@import './paul';
@import './faq';

.luxury-div__text__svg-768{
    display: none;
}

html{
    box-sizing: border-box;
  }
  
  html *, ::after, ::before{
    box-sizing: inherit;
  }

p,h1,h2,h3,h4,h5,h6{
    margin: 0;
    color: white;
}

button{
    cursor: pointer;
}

.numbers2, .luxury__background-div__img2, .luxury-div__text__svg-social, .projects__background-div__img2,
.projects__div-choose2, .video__bacgroung-img__img2, .video__svg2{
    display: none;
}

img{
    display: block;
}

body{
    background: #272727;
}

.container{
    width: 360px;
    padding: 0 36px;
}

@media screen and (min-width:768px){
    .container{
        width: 768px;
        padding: 0 38.5px;
    }
    @import './luxury-768';
    .luxury__background-div__img, .luxury-div__text__svg, .numbers, .projects__div-choose,
    .projects__background-div__img1, .video__svg, .video__bacgroung-img__img{
        display: none;
    }
    .luxury-div__text__svg-768, .numbers2,.luxury__background-div__img2, .luxury-div__text__svg-social,
    .projects__background-div__img2, .projects__div-choose2, .video__bacgroung-img__img2, .video__svg2{
        display: block;
    }
    @import './numbers-768';
    @import './projects-768';
    @import './expertise-768';
    @import './video-768';
}