@import '/cssfonnts/fonts.scss';
@import './main-container-360';
@import './luxury';
@import './numbers';
@import './projects';
@import './expertise';
@import './video';
@import './limit';
@import './interier';
@import './contact';
@import './articles';

html{
    box-sizing: border-box;
  }
  
  html *, ::after, ::before{
    box-sizing: inherit;
  }

p,h1,h2,h3,h4,h5,h6{
    margin: 0;
    color: white;
}

button{
    cursor: pointer;
}

img{
    display: block;
}

body{
    background: #272727;
}

.container{
    width: 360px;
}