@import '/cssfonnts/fonts.scss';
@import './main-container-360';
@import './luxury';
@import './numbers';
@import './projects';
@import './expertise';
@import './video';
@import './limit';
@import './interier';
@import './contact';
@import './articles';
@import './architecture';
@import './paul';
@import './faq';

.luxury-div__text__svg-768{
    display: none;
}

html{
    box-sizing: border-box;
  }
  
  html *, ::after, ::before{
    box-sizing: inherit;
  }

p,h1,h2,h3,h4,h5,h6{
    margin: 0;
    color: white;
}

button{
    cursor: pointer;
}

.numbers2, .luxury__background-div__img2, .luxury-div__text__svg-social, .projects__background-div__img2,
.projects__div-choose2, .video__bacgroung-img__img2, .video__svg2, .interier__img-div__img2,
.articles__img-div__img2, .architecture__img-div__img2, .architecture2{
    display: none;
}

.paul__img-div2, .paul__text-div2, .paul__div2, .projects__div-dots2, .paul__img-div__img2,
.luxury-div__text__svg-social2, .luxury-div__text__svg-1920, .luxury__background-div__img3,
.projects__div-example__ul__li-hover__btn__svg-1920, .projects__background-div__img3, .video__bacgroung-img__img3{
    display: none;
}

.video__svg3, .interier__img-div__img3, .architecture2__img-div2, .articles__div__btn__svg2,
.articles__img-div__img3, .articles__div2__p, .contact__img-div__img3, .contact__img-div__img2,
.paul__img-div2__img2, .paul__img-div__img3{
    display: none;
}

img{
    display: block;
}

body{
    background: #272727;
}

.container{
    width: 360px;
    padding: 0 36px;
}

@media screen and (min-width:768px){
    .container{
        width: 768px;
        padding: 0 38.5px;
    }
    @import './luxury-768';
    .luxury__background-div__img, .luxury-div__text__svg, .numbers, .projects__div-choose,
    .projects__background-div__img1, .video__svg, .video__bacgroung-img__img,
    .interier__img-div__img, .contact__img-div__img, .architecture, .articles__img-div__img,
    .architecture__img-div__img, .architecture2__div__btn__svg2{
        display: none;
    }
    .luxury-div__text__svg-768, .numbers2,.luxury__background-div__img2, .luxury-div__text__svg-social,
    .projects__background-div__img2, .projects__div-choose2, .video__bacgroung-img__img2, .video__svg2,
    .interier__img-div__img2, .articles__img-div__img2, .architecture__img-div__img2{
        display: block;
    }
    .paul__img-div2, .paul__text-div2, .paul__div2, .paul__img-div__img2, .luxury-div__text__svg-social2,
    .luxury-div__text__svg-1920, .luxury__background-div__img3, .contact__img-div__img2{
        display: block;
    }
    .projects__div-dots2{
        display: flex;
    }

    @import './numbers-768';
    @import './projects-768';
    @import './expertise-768';
    @import './video-768';
    @import './limit-768';
    @import './interier-768';
    @import './contact-768';
    @import './architecture-768';
    @import './articles-768';
    @import './faq-768';
    @import './paul-768';
    .paul__img-div__img, .projects__div-dots{
        display: none;
    }
}

@media screen and (min-width:1920px){
    .container{
        width: 1920px;
        padding: 0 55.5px;
    }
    @import './luxury-1920';
    .luxury__background-div__img2, .luxury-div__text__svg-social, .luxury-div__text__svg-768, .articles__img-div__img2,
    .projects__background-div__img2, .projects__div-example__ul__li-hover__btn__svg, .articles__div__btn__svg,
    .video__bacgroung-img__img2, .video__svg2, .interier__img-div__img2, .contact__img-div__img2, .architecture2__div__btn__svg{
        display: none;
    }
    .architecture__img-div__img2, .architecture__img-div, .paul__img-div__img2, .paul__img-div2__img{
        display: none;
    }
    .luxury-div__text__svg-social2, .luxury-div__text__svg-1920, .luxury__background-div__img3, .articles__img-div__img3,
    .projects__div-example__ul__li-hover__btn__svg-1920, .projects__background-div__img3, .articles__div__btn__svg2,
    .video__bacgroung-img__img3, .video__svg3, .interier__img-div__img3, .architecture2__img-div2, .articles__div2__p,
    .contact__img-div__img3, .architecture2__div__btn__svg2, .paul__img-div2__img2, .paul__img-div__img3{
        display: block;
    }
    @import './numbers-1920';
    @import './projects-1920';
    @import './expertise-1920';
    @import './video-1920';
    @import './limit-1920';
    @import './interier-1920';
    @import './contact-1920';
    @import './articles-1920';
    @import './architecture-1920';
    @import './paul-1920';
}

@media screen and (max-width:768px){
    .luxury-div__text__svg-social2, .luxury-div__text__svg-1920, .luxury__background-div__img3{
        display: none;
    }
}