.paul{
    width: 1908px;
    height: 424px;
    margin-bottom: 110px;
    padding: 56px 403px 0 393px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    &__text-div2{
        position: absolute;
        top: 70px;
        left: 831px;
        &__p{
            color: #fcd54c;
            font-weight: 600;
            font-size: 100px;
            line-height: 117.3px;
            font-family: Work Sans;
        }
    }
    &__img-div{
        position: absolute;
        left: 436px;
        top: 0;
        background-color: transparent;
        &__img3{
            width: 112px;
            height: 112px;
            border-radius: 50%;
        }
    }
    &__div{
        width: 525px;
        height: 311px;
        margin-bottom: 44px;
        border: 1px solid #fcd54c;
        padding: 104px 40px 20px 30px;
        margin-right: 62px;
        &__p-title{
            width: 71px;
            height: 26px;
            font-weight: 700;
            font-size: 25px;
            line-height: 30.22px;
            margin-bottom: 19px;
        }
        &__p-owner{
            width: 174px;
            height: 17px;
            font-weight: 400;
            font-size: 16px;
            line-height: 18.77px;
            margin-bottom: 8px;
            &__a{
                list-style: none;
                color: #fcd54c;
            }
        }
        &__p{
            width: 445px;
            height: 88px;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            color: #929292;
        }
    }
}
.paul{
    // width: 690px;
    // height: 295px;
    // // margin-bottom: 50px;
    // padding-top: 36px;
    // position: relative;
    // display: flex;
    // flex-wrap: wrap;
    &__text-div{
        position: absolute;
        top: 70px;
        left: 1418px;
        &__p{
            color: #fcd54c;
            font-weight: 600;
            font-size: 100px;
            line-height: 117.3px;
            font-family: Work Sans;
        }
    }
    &__img-div2{
        position: absolute;
        width: 68px;
        height: 68px;
        left: 1023px;
        top: 0;
        background-color: transparent;
        &__img2{
            width: 112px;
            height: 112px;
            border-radius: 50%;
        }
    }
    &__div2{
        width: 525px;
        height: 311px;
        margin-bottom: 44px;
        border: 1px solid #fcd54c;
        padding: 104px 40px 20px 30px;
        // margin-right: 62px;
        &__p-title{
            width: 71px;
            height: 26px;
            font-weight: 700;
            font-size: 25px;
            line-height: 30.22px;
            margin-bottom: 19px;
        }
        &__p-owner{
            width: 174px;
            height: 17px;
            font-weight: 400;
            font-size: 16px;
            line-height: 18.77px;
            margin-bottom: 8px;
            &__a{
                list-style: none;
                color: #fcd54c;
            }
        }
        &__p{
            width: 445px;
            height: 88px;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            color: #929292;
        }
    }
}