.video{
    width: 768px;
    height: 394px;
    position: relative;
    margin-bottom: 70px;
    &__btn{
        width: 52px;
        height: 52px;
        margin: 170.5px 0 0 319.5px;
        padding: 0;
        border: 0;
        background-color: transparent;
    }
    &__svg2{
        width: 52px;
        height: 52px;
        fill: white;
        background-color: #FCD54C;
        border-radius: 100px;
    }
    &__bacgroung-img{
        position: absolute;
        // width: 360px;
        // height: 185px;
        right: 38.5px;
        z-index: -3;
        &__img{
            width: 768px;
        }
    }
}